Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Linting
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude_types: [jupyter]
  - id: check-toml
  - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
  - id: black
  - id: black-jupyter
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
# Python static analysis
- repo: https://github.com/pycqa/flake8
  rev: '6.1.0'
  hooks:
  - id: flake8
    additional_dependencies:
      - darglint~=1.8.1
      - flake8-blind-except==0.2.1
      - flake8-builtins~=1.5.3
      - flake8-commas~=2.1.0
      - flake8-debugger~=4.1.2
      - flake8-docstrings~=1.6.0
# Shell static analysis
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.9.0
  hooks:
  - id: shellcheck
  # precommit invokes shellcheck once per file. shellcheck complains if file
  # includes another file not given on the command line. Ignore this, since
  # they'll just get checked in a separate shellcheck invocation.
    args: ["-e", "SC1091"]
# Misc
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["--skip=*.pyc,tests/testdata/*,*.ipynb,*.csv","--ignore-words-list=reacher,ith,iff"]
- repo: https://github.com/syntaqx/git-hooks
  rev: v0.0.18
  hooks:
  - id: circleci-config-validate
# Hooks that run in local environment (not isolated venv) as they need
# same dependencies as our package.
- repo: local
  hooks:
  - id: check-notebooks
    name: check-notebooks
    entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
    language: script
    types: [jupyter]
    pass_filenames: false
  # Run mypy directly from local repo rather than using mirror-mypy
  # so that it uses installed dependencies. Adapted from:
  # https://jaredkhan.com/blog/mypy-pre-commit
  - id: mypy
    name: mypy
    language: system
    types: [python]
    entry: mypy --follow-imports=silent --show-error-codes
    # use require_serial so that script
    # is only called once per commit
    require_serial: true
    # Print the number of files as a sanity-check
    verbose: true
  - id: pytype
    name: pytype
    language: system
    types: [python]
    entry: "bash -c 'pytype --keep-going -j ${NUM_CPUS:-auto}'"
    require_serial: true
    verbose: true
  - id: docs
    name: docs
    language: system
    types_or: [python, rst]
    entry: bash -c "cd docs/ && make clean && SKIP_DOCTEST=True NB_EXECUTION_MODE=off make html"
    require_serial: true
    verbose: true
    pass_filenames: false

Add initial_epoch_multiplier to hyperparameter search space of PC
  tuning/hp_search_spaces.py
Due: mypy, pytype, docs

Speed up trials by vectorizing environments
  tuning/hp_search_spaces.py
Due: mypy, pytype, docs

Improve tune_on_slum.sh
  tuning/tune_on_slurm.sh
Due: none

Add script to tune PC on all environments.
  tuning/tune_all_on_slurm.sh
Due: none

Improve documentation for hyperparameter tuning.
  tuning/README.md
  tuning/hp_search_spaces.py
  tuning/tune_on_slurm.sh
Due: mypy, pytype, docs

Add script to re-run the best trials from a hyperparameter tuning run.
  tuning/tune.py
Due: mypy, pytype, docs

Add tests and fix bug for RenderImageWrapper
  src/imitation/data/wrappers.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

Add missing docstring
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Cleanup changes made to docs
  docs/algorithms/airl.rst
  docs/algorithms/gail.rst
  docs/algorithms/preference_comparisons.rst
  docs/tutorials/10_train_custom_env.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks, docs

Add no-cover pragma to the flaky and disabled SQIL performance test.
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Add gc_after_trial flag to avoid memory issues.
  tuning/tune.py
Due: mypy, pytype, docs

Add feature to re-run a tuning run.
  tuning/tune_on_slurm.sh
Due: none

Write output of sbatch script and output of training script to separate files.
  tuning/tune_on_slurm.sh
Due: none

Add scripts to rerun the top trials of a hyperparameter sweep.
  tuning/rerun_best_trial.py
  tuning/rerun_on_slurm.sh
Due: mypy, pytype, docs

Fix documentation and cout.txt placement in tune_on_slurm.sh
  tuning/tune_on_slurm.sh
Due: none

Remove benchmark_summary.md
  docs/main-concepts/benchmark_summary.md
Due: none

Increase default memory for cheetah and humanoid.
  tuning/tune_all_on_slurm.sh
Due: none

Remove top-k feature when re-running trials.
  tuning/rerun_best_trial.py
  tuning/rerun_on_slurm.sh
Due: mypy, pytype, docs

Fix paths in rerun batch script.
  tuning/rerun_on_slurm.sh
Due: none

Add hyper parameters for SQIL.
  tuning/hp_search_spaces.py
Due: mypy, pytype, docs

Turn DQN into a named config.
  src/imitation/scripts/ingredients/rl.py
  tuning/hp_search_spaces.py
Due: mypy, pytype, docs

Add namedconfigs for all seals envs and set the number of timesteps in namedconfig for SQIL.
  src/imitation/scripts/config/train_imitation.py
  tuning/hp_search_spaces.py
Due: mypy, pytype, docs

Store command name as user attr in trial.
  tuning/hp_search_spaces.py
Due: mypy, pytype, docs

Add hp search space for PC/classic control.
  tuning/hp_search_spaces.py
Due: mypy, pytype, docs

Fix fragment length for classic control environments.
  tuning/hp_search_spaces.py
Due: mypy, pytype, docs

Add sbatch jobs for SQIL to tune_all_on_slurm.
  tuning/tune_all_on_slurm.sh
Due: none

Add benchmark analysis notebook.
  tuning/benchmark_analysis.ipynb
Due: check-notebooks

Some formatting fixes.
  benchmarking/README.md
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/scripts/config/tuning.py
  src/imitation/scripts/ingredients/rl.py
  tuning/README.md
  tuning/benchmark_analysis.ipynb
  tuning/hp_search_spaces.py
  tuning/rerun_best_trial.py
  tuning/tune.py
  tuning/tune_all_on_slurm.sh
  tuning/tune_on_slurm.sh
Due: check-notebooks, mypy, pytype, docs

Shellcheck fixes.
  tuning/rerun_on_slurm.sh
  tuning/tune_on_slurm.sh
Due: none

More formatting fixes.
  src/imitation/scripts/config/tuning.py
  tuning/hp_search_spaces.py
  tuning/rerun_best_trial.py
  tuning/tune.py
Due: mypy, pytype, docs

Initial commit of Zooniverse preference comparisons
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Add querent_kwargs to ZooniverseGatherer
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Refactor Zooniverse elements handling
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Override PrefCollectGatherer self.querent
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Remove querent_kwargs from super().__init__
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Handle querent_kwargs requirements
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Pass pref_collect_address to ZooniverseQuerent
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

ZooniverseGatherer fix super().__init__ call.
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs
