Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Linting
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude_types: [jupyter]
  - id: check-toml
  - id: check-added-large-files
  - id: check-ast
- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
  - id: black-jupyter
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
# Python static analysis
- repo: https://github.com/pycqa/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-blind-except
      - flake8-builtins
      - flake8-commas
      - flake8-debugger
      - flake8-docstrings
- repo: https://github.com/terrencepreilly/darglint
  rev: v1.8.1
  hooks:
  - id: darglint
# Shell static analysis
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.8.0
  hooks:
  - id: shellcheck
# Misc
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    args: ["--skip=*.pyc,tests/testdata/*,*.ipynb,*.csv"]
- repo: https://github.com/syntaqx/git-hooks
  rev: v0.0.17
  hooks:
  - id: circleci-config-validate
# Hooks that run in local environment (not isolated venv) as they need
# same dependencies as our package.
- repo: local
  hooks:
  - id: check-notebooks
    name: check-notebooks
    entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
    language: script
    types: [jupyter]
    pass_filenames: false
  # Run mypy directly from local repo rather than using mirror-mypy
  # so that it uses installed dependencies. Adapted from:
  # https://jaredkhan.com/blog/mypy-pre-commit
  - id: mypy
    name: mypy
    language: system
    types: [python]
    entry: mypy --follow-imports=silent --show-error-codes
    # use require_serial so that script
    # is only called once per commit
    require_serial: true
    # Print the number of files as a sanity-check
    verbose: true
  - id: pytype
    name: pytype
    language: system
    types: [python]
    entry: pytype -j auto
    require_serial: true
    verbose: true
  - id: docs
    name: docs
    language: system
    types_or: [python, rst]
    entry: bash -c "cd docs/ && make clean && make html"
    require_serial: true
    verbose: true
    pass_filenames: false

Fix whitespace issues.
  docs/tutorials/trajectories.rst
Due: docs

Fix some grammar issues.
  src/imitation/data/huggingface_utils.py
  src/imitation/data/serialize.py
Due: mypy, pytype, docs

Add test for accessing slices of info dicts.
  src/imitation/testing/hypothesis_strategies.py
  tests/data/test_huggingface_utils.py
Due: mypy, pytype, docs

Fix some issues on the example code of the trajectories documentation.
  docs/tutorials/trajectories.rst
Due: docs

Simplify roundtrip test by disallowing NaN values.
  tests/data/test_huggingface_utils.py
Due: mypy, pytype, docs

Add more throughout tests for HuggingFace Datasets backed trajectory sequences.
  src/imitation/data/huggingface_utils.py
  tests/data/test_huggingface_utils.py
Due: mypy, pytype, docs

Fix formatting issues.
  docs/tutorials/trajectories.rst
  src/imitation/data/huggingface_utils.py
Due: mypy, pytype, docs

Fix some issues in the expert model documentation.
  docs/experts/loading-experts.rst
Due: docs

Add trajectories_to_dataset helper.
  src/imitation/data/huggingface_utils.py
  src/imitation/data/serialize.py
Due: mypy, pytype, docs

Add no-cover pragmas for rare edge-cases of trajectory loading.
  src/imitation/data/serialize.py
Due: mypy, pytype, docs

Add example on how to use a HuggingFace dataset as a Sequence of Trajectories.
  docs/tutorials/trajectories.rst
Due: docs

Add helpers and instructions on how to share datasets on the huggingface hub (#705)
  docs/experts/loading-experts.rst
  docs/tutorials/trajectories.rst
  src/imitation/data/huggingface_utils.py
  src/imitation/data/serialize.py
  src/imitation/testing/hypothesis_strategies.py
  tests/data/test_huggingface_utils.py
Due: mypy, pytype, docs

Fix flake8
  experiments/human_preferences.sh
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/data/wrappers.py
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/train_preference_comparisons.py
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Fix flake8 and codespell
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/scripts/config/train_preference_comparisons.py
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Fix bug in instructions on how to pull trajectories from the HuggingFace Datasets Hub
  docs/tutorials/trajectories.rst
Due: docs

Ensure PPO on disk does not inherit from PPO and loads from an absolute path.
  src/imitation_cli/utils/rl_algorithm.py
Due: mypy, pytype, docs

Use recursive calls and introduce random number generator config.
  src/imitation_cli/airl.py
  src/imitation_cli/utils/environment.py
  src/imitation_cli/utils/feature_extractor.py
  src/imitation_cli/utils/optimizer.py
  src/imitation_cli/utils/policy.py
  src/imitation_cli/utils/randomness.py
  src/imitation_cli/utils/reward_network.py
  src/imitation_cli/utils/rl_algorithm.py
  src/imitation_cli/utils/schedule.py
  src/imitation_cli/utils/trajectories.py
Due: mypy, pytype, docs

Swtich from Hydra call to hydra instantiate.
  src/imitation_cli/airl.py
  src/imitation_cli/utils/environment.py
  src/imitation_cli/utils/policy.py
  src/imitation_cli/utils/reward_network.py
  src/imitation_cli/utils/rl_algorithm.py
  src/imitation_cli/utils/trajectories.py
Due: mypy, pytype, docs

Introduce default_environment to the register_configs functions, remove the global demonstrations field and rename the global venv field to environment.
  src/imitation_cli/airl.py
  src/imitation_cli/config/airl_run.yaml
  src/imitation_cli/utils/policy.py
  src/imitation_cli/utils/policy_evaluation.py
  src/imitation_cli/utils/reward_network.py
  src/imitation_cli/utils/rl_algorithm.py
  src/imitation_cli/utils/trajectories.py
Due: mypy, pytype, docs

Update the airl_sweep.yaml
  src/imitation_cli/config/airl_sweep_env_and_rewardnet.yaml
Due: none

Add checkpoint saving.
  src/imitation_cli/airl.py
  src/imitation_cli/utils/policy_evaluation.py
Due: mypy, pytype, docs

Add type ignore reason.
  src/imitation_cli/airl.py
Due: mypy, pytype, docs

Simplify the class configurations using enums.
  src/imitation_cli/algorithm_configurations/airl.py
  src/imitation_cli/utils/activation_function_class.py
  src/imitation_cli/utils/feature_extractor_class.py
  src/imitation_cli/utils/optimizer_class.py
  src/imitation_cli/utils/policy.py
Due: mypy, pytype, docs

Update the airl_sweep.yaml
  src/imitation_cli/config/airl_sweep.yaml
Due: none

Fix bug in type ignore reason.
  src/imitation_cli/airl.py
Due: mypy, pytype, docs

Add code for policy evaluation.
  src/imitation/algorithms/adversarial/common.py
  src/imitation_cli/airl.py
  src/imitation_cli/utils/policy_evaluation.py
Due: mypy, pytype, docs

Make inline imports to speed up shell completion.
  src/imitation_cli/airl.py
  src/imitation_cli/utils/policy.py
  src/imitation_cli/utils/reward_network.py
  src/imitation_cli/utils/rl_algorithm.py
Due: mypy, pytype, docs

First draft with somehwat working airl configured using Hydra.
  setup.py
  src/imitation_cli/__init__.py
  src/imitation_cli/airl.py
  src/imitation_cli/config/airl_sweep.yaml
  src/imitation_cli/config/environment/cartpole.yaml
  src/imitation_cli/config/environment/myenv.yaml
  src/imitation_cli/config/environment/retro.yaml
  src/imitation_cli/config/environment/seals.yaml
  src/imitation_cli/env_test.py
  src/imitation_cli/utils/__init__.py
  src/imitation_cli/utils/activation_function.py
  src/imitation_cli/utils/environment.py
  src/imitation_cli/utils/feature_extractor.py
  src/imitation_cli/utils/optimizer.py
  src/imitation_cli/utils/policy.py
  src/imitation_cli/utils/reward_network.py
  src/imitation_cli/utils/rl_algorithm.py
  src/imitation_cli/utils/schedule.py
  src/imitation_cli/utils/trajectories.py
Due: mypy, pytype, docs

Remove low default number of steps for generated trajectories and move that to the config file.
  src/imitation_cli/config/airl_run.yaml
  src/imitation_cli/utils/trajectories.py
Due: mypy, pytype, docs

Split up AILR config in AIRL creation and AIRL run config. Also move most of the interpolation magic into the main script and rename some util modules to make clear what they do.
  src/imitation_cli/airl.py
  src/imitation_cli/config/environment/cartpole.yaml
  src/imitation_cli/config/environment/myenv.yaml
  src/imitation_cli/config/environment/retro.yaml
  src/imitation_cli/config/environment/seals.yaml
  src/imitation_cli/utils/activation_function_class.py
  src/imitation_cli/utils/feature_extractor_class.py
  src/imitation_cli/utils/optimizer_class.py
  src/imitation_cli/utils/policy.py
  src/imitation_cli/utils/reward_network.py
  src/imitation_cli/utils/rl_algorithm.py
  src/imitation_cli/utils/schedule.py
  src/imitation_cli/utils/trajectories.py
Due: mypy, pytype, docs

Define cartpole and pendulum envs as structured configs.
  src/imitation_cli/utils/environment.py
Due: mypy, pytype, docs

Remove env_test.py
  src/imitation_cli/env_test.py
Due: mypy, pytype, docs

Formatting, typing and documentation fixes. Also the implicit seed dependency was pulled out of the utils and made explicit in airl.py
  src/imitation_cli/airl.py
  src/imitation_cli/config/airl_optuna.yaml
  src/imitation_cli/config/airl_run.yaml
  src/imitation_cli/config/airl_sweep_env_and_rewardnet.yaml
  src/imitation_cli/utils/__init__.py
  src/imitation_cli/utils/activation_function_class.py
  src/imitation_cli/utils/environment.py
  src/imitation_cli/utils/feature_extractor_class.py
  src/imitation_cli/utils/optimizer_class.py
  src/imitation_cli/utils/policy.py
  src/imitation_cli/utils/policy_evaluation.py
  src/imitation_cli/utils/randomness.py
  src/imitation_cli/utils/reward_network.py
  src/imitation_cli/utils/rl_algorithm.py
  src/imitation_cli/utils/schedule.py
  src/imitation_cli/utils/trajectories.py
Due: mypy, pytype, docs

Remove defaults parameter from `register_configs`, introduce a air_run.yaml and assemble the airl run config when registering in the config store.
  src/imitation_cli/airl.py
  src/imitation_cli/config/airl_run.yaml
  src/imitation_cli/utils/policy.py
  src/imitation_cli/utils/policy_evaluation.py
  src/imitation_cli/utils/rl_algorithm.py
Due: mypy, pytype, docs

Move registering the expert policy as a sub-call to registering the trajectories.
  src/imitation_cli/airl.py
  src/imitation_cli/utils/trajectories.py
Due: mypy, pytype, docs

Add type annotations, fix typing issues, add comments.
  src/imitation_cli/__init__.py
  src/imitation_cli/airl.py
  src/imitation_cli/utils/activation_function_class.py
  src/imitation_cli/utils/environment.py
  src/imitation_cli/utils/feature_extractor_class.py
  src/imitation_cli/utils/optimizer_class.py
  src/imitation_cli/utils/policy.py
  src/imitation_cli/utils/randomness.py
  src/imitation_cli/utils/reward_network.py
  src/imitation_cli/utils/rl_algorithm.py
  src/imitation_cli/utils/trajectories.py
Due: mypy, pytype, docs

Dont' allow variable horizon for AIRL by default.
  src/imitation_cli/algorithm_configurations/airl.py
  src/imitation_cli/config/airl_optuna.yaml
  src/imitation_cli/config/airl_run.yaml
  src/imitation_cli/config/airl_sweep_env_and_rewardnet.yaml
Due: mypy, pytype, docs

Use the hydra chdir feature to store logs in the output directory.
  src/imitation_cli/airl.py
Due: mypy, pytype, docs

Move airl configuration to it's own file and restructure the main run file
  src/imitation_cli/airl.py
  src/imitation_cli/algorithm_configurations/__init__.py
  src/imitation_cli/algorithm_configurations/airl.py
Due: mypy, pytype, docs

Add airl_optuna.yaml
  src/imitation_cli/config/airl_optuna.yaml
Due: none
