Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: pytype -j auto
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && make html"
  require_serial: true
  verbose: true
  pass_filenames: false

Add SQIL description in docs, try to add it to the right places
  docs/algorithms/sqil.rst
  docs/index.rst
Due: docs

Fix docs
  docs/algorithms/sqil.rst
Due: docs

Blacken a tutorial
  docs/tutorials/10_train_sqil.ipynb
Due: check-notebooks

first draft of reward network documentation
  docs/index.rst
  docs/tutorials/reward_networks.rst
  src/imitation/rewards/reward_nets.py
Due: mypy, pytype, docs

Reorder things in docs
  docs/algorithms/sqil.rst
  docs/index.rst
  docs/tutorials/10_train_custom_env.ipynb
  docs/tutorials/8_train_sqil.ipynb
Due: check-notebooks, docs

Change the SQIL structure to instead subclass the replay buffer, new test
  src/imitation/algorithms/sqil.py
  src/imitation/util/util.py
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Add an empty line
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Simplify the arguments
  src/imitation/algorithms/sqil.py
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Cover another edge case, another test, fixes
  src/imitation/algorithms/sqil.py
  src/imitation/data/rollout.py
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Fix a circular import issue
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Add a performance test - might be slow?
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Improve ingredient documentation.
  src/imitation/scripts/ingredients/__init__.py
  src/imitation/scripts/ingredients/bc.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/ingredients/environment.py
  src/imitation/scripts/ingredients/expert.py
  src/imitation/scripts/ingredients/logging.py
  src/imitation/scripts/ingredients/policy.py
  src/imitation/scripts/ingredients/policy_evaluation.py
  src/imitation/scripts/ingredients/reward.py
  src/imitation/scripts/ingredients/rl.py
  src/imitation/scripts/ingredients/wb.py
Due: mypy, pytype, docs

Fix coverage
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Fix formatting issues.
  src/imitation/scripts/ingredients/bc.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/ingredients/expert.py
  src/imitation/scripts/ingredients/policy_evaluation.py
Due: mypy, pytype, docs

Transition from Models Hub to Datasets Hub for expert trajectories (#723)
  README.md
  benchmarking/example_airl_seals_ant_best_hp_eval.json
  benchmarking/example_airl_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_airl_seals_hopper_best_hp_eval.json
  benchmarking/example_airl_seals_swimmer_best_hp_eval.json
  benchmarking/example_airl_seals_walker_best_hp_eval.json
  benchmarking/example_bc_seals_ant_best_hp_eval.json
  benchmarking/example_bc_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_bc_seals_hopper_best_hp_eval.json
  benchmarking/example_bc_seals_swimmer_best_hp_eval.json
  benchmarking/example_bc_seals_walker_best_hp_eval.json
  benchmarking/example_dagger_seals_ant_best_hp_eval.json
  benchmarking/example_dagger_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_dagger_seals_hopper_best_hp_eval.json
  benchmarking/example_dagger_seals_swimmer_best_hp_eval.json
  benchmarking/example_dagger_seals_walker_best_hp_eval.json
  benchmarking/example_gail_seals_ant_best_hp_eval.json
  benchmarking/example_gail_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_gail_seals_hopper_best_hp_eval.json
  benchmarking/example_gail_seals_swimmer_best_hp_eval.json
  benchmarking/example_gail_seals_walker_best_hp_eval.json
  benchmarking/util.py
  examples/quickstart.sh
  src/imitation/data/serialize.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/ingredients/policy_evaluation.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

fixed doctests
  docs/tutorials/reward_networks.rst
Due: docs

did proof reading and added discussion of PredictProcessedWrapper
  docs/tutorials/reward_networks.rst
Due: docs

Improve input validation
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Bugfix: have set_demonstrations set rather than return
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Move TransitionMapping from algorithms.base to data.types
  src/imitation/algorithms/adversarial/common.py
  src/imitation/algorithms/base.py
  src/imitation/algorithms/bc.py
  src/imitation/algorithms/density.py
  src/imitation/algorithms/sqil.py
  src/imitation/data/rollout.py
  src/imitation/data/types.py
Due: mypy, pytype, docs

Fix typo: expert_buffer->self.expert_buffer
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Bugfix: use safe_to_numpy rather than assuming th.Tensor
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Fix lint
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Fix unused imports
  src/imitation/algorithms/base.py
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Refactor tests
  src/imitation/algorithms/sqil.py
  src/imitation/testing/expert_trajectories.py
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Bump # of rollouts to try to fix MacOS flakiness
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Use .. note:: sections where appropriate.
  docs/getting-started/cli.rst
Due: docs

Use double backticks for literals.
  docs/getting-started/cli.rst
Due: docs

Separate tuning code from parallel.py
  benchmarking/tuning.py
  benchmarking/tuning_config.py
  setup.cfg
  src/imitation/scripts/config/parallel.py
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Fix docstring
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Removing resume option as it is getting tricky to correctly implement
  src/imitation/scripts/config/parallel.py
  src/imitation/scripts/parallel.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Minor fixes
  src/imitation/scripts/config/analyze.py
  src/imitation/scripts/config/parallel.py
  src/imitation/scripts/parallel.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

fixed lint errors
  docs/tutorials/reward_networks.rst
  src/imitation/rewards/reward_nets.py
Due: mypy, pytype, docs

adressed comments
  docs/development/developer.rst
  docs/tutorials/reward_networks.rst
Due: docs

switched to using predict processed in preference comparison tutorial
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

removed TODO
  src/imitation/rewards/reward_nets.py
Due: mypy, pytype, docs

CLI documentation (#743)
  docs/getting-started/cli.rst
  docs/index.rst
  src/imitation/scripts/ingredients/__init__.py
  src/imitation/scripts/ingredients/bc.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/ingredients/environment.py
  src/imitation/scripts/ingredients/expert.py
  src/imitation/scripts/ingredients/logging.py
  src/imitation/scripts/ingredients/policy.py
  src/imitation/scripts/ingredients/policy_evaluation.py
  src/imitation/scripts/ingredients/reward.py
  src/imitation/scripts/ingredients/rl.py
  src/imitation/scripts/ingredients/wb.py
Due: mypy, pytype, docs

RewardNet Tutorial (#750)
  docs/development/developer.rst
  docs/index.rst
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/reward_networks.rst
Due: check-notebooks, docs

Move some documents to a "Main Concepts" section, normalized filenames to only use underscores and simplified some document headings.
  docs/getting-started/first_steps.rst
  docs/getting-started/what_is_imitation.rst
  docs/index.rst
  docs/main-concepts/experts.rst
  docs/main-concepts/reward_networks.rst
  docs/main-concepts/trajectories.rst
  docs/main-concepts/variable_horizon.rst
Due: docs

Move some documents to a "Main Concepts" section, normalized filenames to only use underscores and simplified some document headings. (#755)
  docs/getting-started/first_steps.rst
  docs/getting-started/what_is_imitation.rst
  docs/index.rst
  docs/main-concepts/experts.rst
  docs/main-concepts/reward_networks.rst
  docs/main-concepts/trajectories.rst
  docs/main-concepts/variable_horizon.rst
Due: docs

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
