Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: bash -c 'pytype -j ${NUM_CPUS:-auto}'
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && SKIP_DOCTEST=True NB_EXECUTION_MODE=off make html"
  require_serial: true
  verbose: true
  pass_filenames: false

small fix
  src/imitation/scripts/train_imitation.py
Due: mypy, pytype, docs

Move pytype config to pyproject.toml
  pyproject.toml
  setup.cfg
Due: none

Use inputs specified in pyproject.toml
  .pre-commit-config.yaml
Due: none

Fix lint
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/train_rl.py
Due: mypy, pytype, docs

Update gymnasium version and render mode in eval policy
  setup.py
  src/imitation/scripts/eval_policy.py
Due: mypy, pytype, docs

Fix error
  setup.py
Due: mypy, pytype, docs

Fix undefined variable
  src/imitation/scripts/ingredients/demonstrations.py
Due: mypy, pytype, docs

Fix end of file
  setup.cfg
Due: none

Update gymnasium dependency and render_mode in gym.make (#806)
  setup.py
  src/imitation/scripts/eval_policy.py
Due: mypy, pytype, docs

Fix typo
  src/imitation/scripts/eval_policy.py
Due: mypy, pytype, docs

Upgrade pytype (#801)
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
  setup.py
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/train_adversarial.py
  src/imitation/scripts/train_imitation.py
  src/imitation/scripts/train_preference_comparisons.py
  src/imitation/scripts/train_rl.py
  tests/algorithms/test_base.py
  tests/data/test_buffer.py
Due: mypy, pytype, docs

Update commands.py hex strings
  experiments/commands.py
  tests/test_experiments.py
Due: mypy, pytype, docs

Use normal env name when loading policies in the tutorial notebooks.
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
Due: check-notebooks

Use load_policy from the utils to load a policy in the density tutorial notebook.
  docs/tutorials/7_train_density.ipynb
Due: check-notebooks

Reduce the number of train steps in the FAST mode of the AIRL tutorial notebook.
  docs/tutorials/4_train_airl.ipynb
Due: check-notebooks

Reduce training time and improve expert loading code in the tutorials (#810)
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/7_train_density.ipynb
Due: check-notebooks

Reduce training times in SQIL tests to make the test suite faster.
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Increase training time and numer of samples to compare in the PC performance test.
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Skip the continous SQIL test with TD3 since it is unstable.
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Disable SQIL test because it is flaky and slow.
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Make SQIL tests more deterministic by adding more seeding.
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

SQIL and PC performance check fixes (#811)
  tests/algorithms/test_preference_comparisons.py
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Add script to run benchmarks on slurm
  benchmarking/run_benchmark_on_slurm.sh
Due: none

Introduce a dataclass for the return type of compute_probability_of_improvement.
  benchmarking/compute_probability_of_improvement.py
Due: mypy, pytype, docs

Add bash script to run the entire benchmark without any parallelization.
  benchmarking/run_benchmark.sh
Due: none

Add missing shebang to bash script and rename it for consistency.
  benchmarking/run_all_benchmarks.sh
Due: none

Increase memory and decrease QOS for benchmark runs.
  benchmarking/run_benchmark_on_slurm.sh
Due: none

Add asserts and explanation for the sample matrix.
  benchmarking/compute_probability_of_improvement.py
Due: mypy, pytype, docs

Remove unused imports.
  benchmarking/compute_probability_of_improvement.py
Due: mypy, pytype, docs

Improve misleading function name and fix documentation.
  benchmarking/compute_probability_of_improvement.py
Due: mypy, pytype, docs

Cleaner set intersections.
  benchmarking/compute_probability_of_improvement.py
Due: mypy, pytype, docs

Add script to export sacred runs to csv file.
  benchmarking/sacred_output_to_csv.py
Due: mypy, pytype, docs

Add scripts to generate benchmark summary information and computing the probability of improvement.
  benchmarking/compute_probability_of_improvement.py
  benchmarking/sacred_output_to_markdown_summary.py
  src/imitation/util/sacred_file_parsing.py
Due: mypy, pytype, docs

Shellcheck fixes.
  benchmarking/run_benchmark_on_slurm.sh
Due: none

Add bash script to run all benchmarks on slurm.
  benchmarking/run_all_benchmarks_on_slurm.sh
Due: none

Add mean/std/ICM and confidence intervals to the markdown summary script.
  benchmarking/sacred_output_to_markdown_summary.py
Due: mypy, pytype, docs

Fix line length in compute_probability_of_improvement.py
  benchmarking/compute_probability_of_improvement.py
Due: mypy, pytype, docs

Speed up the numpy transform when loading a trajectories from a huggingface dataset.
  src/imitation/data/huggingface_utils.py
Due: mypy, pytype, docs

Stop adding a second FileObserver to the sacred runs when running on slurm.
  benchmarking/run_benchmark_on_slurm.sh
Due: none

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
