Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: pytype -j auto
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && make html"
  require_serial: true
  verbose: true
  pass_filenames: false

GAIL and AIRL tutorials: report also std in results
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
Due: check-notebooks

Fix formatting in 7_train_density.ipynb and density.rst
  docs/algorithms/density.rst
  docs/tutorials/7_train_density.ipynb
Due: check-notebooks, docs

WIP: Introduce interactive policies to gather data from a user
  examples/train_dagger_atari_interactive_policy.py
  src/imitation/policies/base.py
  src/imitation/policies/interactive.py
  src/imitation/util/util.py
  tests/policies/test_interactive.py
  tests/policies/test_policies.py
Due: mypy, pytype, docs

Fix link to variable horizon article.
  src/imitation/algorithms/adversarial/common.py
  src/imitation/algorithms/base.py
  src/imitation/algorithms/density.py
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/scripts/train_preference_comparisons.py
Due: mypy, pytype, docs

Addressing remarks from review
  examples/train_dagger_atari_interactive_policy.py
  src/imitation/policies/interactive.py
  src/imitation/util/util.py
  tests/policies/test_interactive.py
Due: mypy, pytype, docs

fixes
  examples/train_dagger_atari_interactive_policy.py
  src/imitation/policies/interactive.py
  tests/policies/test_interactive.py
Due: mypy, pytype, docs

fix types
  src/imitation/policies/interactive.py
  tests/policies/test_interactive.py
Due: mypy, pytype, docs

formatting
  src/imitation/policies/interactive.py
Due: mypy, pytype, docs

Exclude interactive example from running during tests
  tests/test_examples.py
Due: mypy, pytype, docs

formatting
  tests/test_examples.py
Due: mypy, pytype, docs

Add an option to run SQIL with various off-policy algorithms
  docs/tutorials/8a_train_sqil_sac.ipynb
  src/imitation/algorithms/sqil.py
  tests/algorithms/conftest.py
  tests/algorithms/test_sqil.py
Due: check-notebooks, mypy, pytype, docs

Add 8a_train_sqil_sac to toctree
  docs/index.rst
Due: docs

Fix performance tests for SQIL
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

fix
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Update setup.py
  setup.py
Due: mypy, pytype, docs

Remove HuggingFace pin
  setup.py
Due: mypy, pytype, docs

Fix dependencies (un-breaks Linux/MacOS CI pipeline) (#775)
  setup.py
  tests/algorithms/test_mce_irl.py
Due: mypy, pytype, docs

Tune hyperparameters for kernel density estimation tutorial (#774)
  docs/algorithms/density.rst
  docs/tutorials/7_train_density.ipynb
Due: check-notebooks, docs

Tune hyperparameters in tutorials for GAIL and AIRL (#772)
  docs/algorithms/airl.rst
  docs/algorithms/gail.rst
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
Due: check-notebooks, docs

Apply suggestions from code review
  src/imitation/policies/interactive.py
  tests/policies/test_interactive.py
  tests/test_examples.py
Due: mypy, pytype, docs

Adressing further suggestions from review
  src/imitation/policies/interactive.py
  tests/policies/test_interactive.py
Due: mypy, pytype, docs

Update docs/tutorials/8a_train_sqil_sac.ipynb
  docs/tutorials/8a_train_sqil_sac.ipynb
Due: check-notebooks

minor fixes
  docs/tutorials/8_train_sqil.ipynb
  docs/tutorials/8a_train_sqil_sac.ipynb
  tests/algorithms/test_sqil.py
Due: check-notebooks, mypy, pytype, docs

Add a test timeout.
  setup.cfg
  setup.py
Due: mypy, pytype, docs

Add a test timeout.
  setup.cfg
Due: none

Bring back performance tests for SQIL
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Introduce interactive policies to gather data from a user (#776)
  examples/train_dagger_atari_interactive_policy.py
  src/imitation/policies/base.py
  src/imitation/policies/interactive.py
  src/imitation/util/util.py
  tests/policies/test_interactive.py
  tests/policies/test_policies.py
  tests/test_examples.py
Due: mypy, pytype, docs

Add an option to run SQIL with various off-policy algorithms (#778)
  docs/index.rst
  docs/tutorials/8a_train_sqil_sac.ipynb
  src/imitation/algorithms/sqil.py
  tests/algorithms/conftest.py
  tests/algorithms/test_sqil.py
Due: check-notebooks, mypy, pytype, docs

Skip ray tests on windows.
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Add changes to notebook
  docs/algorithms/preference_comparisons.rst
  docs/tutorials/5_train_preference_comparisons.ipynb
Due: check-notebooks, docs

Change number notation in cell.
  docs/tutorials/5_train_preference_comparisons.ipynb
Due: check-notebooks

clear outputs from notebook
  docs/tutorials/5_train_preference_comparisons.ipynb
Due: check-notebooks

remove empty code cell
  docs/tutorials/5_train_preference_comparisons.ipynb
Due: check-notebooks

fix variable name in preference_comparison
  docs/algorithms/preference_comparisons.rst
Due: docs

Run black
  docs/tutorials/5_train_preference_comparisons.ipynb
Due: check-notebooks

remove whitespace
  docs/algorithms/preference_comparisons.rst
Due: docs

Remove trailing whitespaces.
  src/imitation/util/util.py
  tests/algorithms/test_mce_irl.py
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
