Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: bash -c 'pytype --keep-going -j ${NUM_CPUS:-auto}'
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && SKIP_DOCTEST=True NB_EXECUTION_MODE=off make html"
  require_serial: true
  verbose: true
  pass_filenames: false

Rename readthedocs.yaml to official hidden name.
  .readthedocs.yml
Due: none

Add parallel requirements to docs requirements.
  setup.py
Due: mypy, pytype, docs

Increase notebook cell execution timeout.
  docs/conf.py
Due: mypy, pytype, docs

Add test for video writing, fix some precommit errors
  docs/main-concepts/benchmark_summary.md
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/5b_train_preference_comparisons_with_synchronous_human_feedback.ipynb
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/data/wrappers.py
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/train_rl.py
  src/imitation/testing/expert_trajectories.py
  tests/algorithms/test_preference_comparisons.py
  tests/data/test_wrappers.py
Due: check-notebooks, mypy, pytype, docs

Add and fix more tests
  src/imitation/algorithms/preference_comparisons.py
  tests/algorithms/test_preference_comparisons.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

Make the default device for policies "cpu".
  src/imitation/algorithms/bc.py
  src/imitation/algorithms/dagger.py
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Fix typo in .circleci/config.yml
  .circleci/config.yml
Due: none

Fix typo
  docs/tutorials/3_train_gail.ipynb
Due: check-notebooks

Fix documentation pipeline (#827)
  .readthedocs.yml
  docs/conf.py
  docs/tutorials/3_train_gail.ipynb
  setup.py
Due: check-notebooks, mypy, pytype, docs

Fix warning in quickstart.py (#823)
  .circleci/config.yml
  examples/quickstart.py
Due: mypy, pytype, docs

Fix formatting
  tests/algorithms/test_bc.py
Due: mypy, pytype, docs

Test BC with different batch_size/minibatch_size combinations.
  tests/algorithms/test_bc.py
Due: mypy, pytype, docs

Remove custom logger from hypothesis strategies to make the number of choices smaller, also suppress the warning about too large number of choices.
  tests/algorithms/test_bc.py
Due: mypy, pytype, docs

Add some no cover pragmas to unimportant edge-cases of BC.
  src/imitation/algorithms/bc.py
Due: mypy, pytype, docs

Add better A note explaining why we suppress certain hypothesis health checks.
  tests/algorithms/test_bc.py
Due: mypy, pytype, docs

Fix coverage issue in BC tests (#830)
  src/imitation/algorithms/bc.py
  tests/algorithms/test_bc.py
Due: mypy, pytype, docs

Remove FloatReward. Fixes #794
  tests/algorithms/conftest.py
Due: mypy, pytype, docs

Remove unused import.
  tests/algorithms/conftest.py
Due: mypy, pytype, docs

Bump SB3 version to ensure we have the bug-fix that makes the FloatReward unneeded.
  setup.py
Due: mypy, pytype, docs

RILE file is created by copying AIRL file
  src/imitation/algorithms/adversarial/rile.py
Due: mypy, pytype, docs

add test for remove_rendered_images
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Fix and expand hyperparameter search space for PC.
  src/imitation/scripts/config/tuning.py
Due: mypy, pytype, docs

Upgrade environment versions in the train_preference_comparisons config.
  src/imitation/scripts/config/train_preference_comparisons.py
Due: mypy, pytype, docs

Upgrade to ray 2.9.0.
  setup.py
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Ensure that PC does at least one comparison per iteration.
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Add initial epoch multiplier as a parameter to the PC script.
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/train_preference_comparisons.py
Due: mypy, pytype, docs

Add tuning folder and move section about hp-tuning from the benchmarking folder to the tuning folder.
  benchmarking/README.md
  tuning/README.md
Due: none

Add pure optuna tuning script.
  tuning/tune.py
Due: mypy, pytype, docs

Add test for preference comparisons with collected preferences
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Use functor to execute sacred experiments as optuna trials.
  tuning/tune.py
Due: mypy, pytype, docs

Fix usage string.
  tuning/tune.py
Due: mypy, pytype, docs

First draft of tune_on_slurm.sh
  tuning/tune_on_slurm.sh
Due: none

Move hyperparameter search space definitoins to a separate file.
  tuning/hp_search_spaces.py
  tuning/tune.py
Due: mypy, pytype, docs

Remove FloatReward (#829)
  setup.py
  tests/algorithms/conftest.py
Due: mypy, pytype, docs

Ignore coverage for `clear_screen` on windows.
  src/imitation/util/util.py
Due: mypy, pytype, docs

Increase test deadline for sliced_access
  tests/data/test_huggingface_utils.py
Due: mypy, pytype, docs

Increase test deadline for sliced_info_dict_access.
  tests/data/test_huggingface_utils.py
Due: mypy, pytype, docs

Ensure safe_to_tensor moves tensors to the specified device.
  src/imitation/util/util.py
Due: mypy, pytype, docs

Add coverage for the warning case of test_safe_to_numpy.
  tests/util/test_util.py
Due: mypy, pytype, docs

Fix variable horizon link in 4_train_airl.ipynb
  docs/tutorials/4_train_airl.ipynb
Due: check-notebooks

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
