Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: pytype -j auto
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && make html"
  require_serial: true
  verbose: true
  pass_filenames: false

WIP use retro-gym code
  examples/run_atari_with_human_input.py
  examples/train_dagger_with_human_demos_atari.py
  src/imitation/policies/interactive.py
Due: mypy, pytype, docs

Pass kwargs to SQIL.train to DQN.learn
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Pass parameters as kwargs for multi-ary methods in sqil.py
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Make test for exceptions raised by SQIL constructor more specific
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Reuse existing VecEnv in code examples in docs/algorithms
  docs/algorithms/airl.rst
  docs/algorithms/gail.rst
Due: docs

Reuse existing VecEnv in tutorial notebooks for GAIL and AIRL
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
Due: check-notebooks

Download experts from hf inside tutorials and docs (#766)
  docs/algorithms/airl.rst
  docs/algorithms/bc.rst
  docs/algorithms/dagger.rst
  docs/algorithms/gail.rst
  docs/main-concepts/experts.rst
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/9_compare_baselines.ipynb
  examples/quickstart.py
Due: check-notebooks, mypy, pytype, docs

Illustrate the rollout_save_n_{timesteps,episodes} in cli.rst
  docs/getting-started/cli.rst
Due: docs

Illustrate use of eval_policy script to get rollouts from an already trained expert
  docs/getting-started/cli.rst
Due: docs

Implementation of the SQIL algorithm (#744)
  README.md
  docs/algorithms/sqil.rst
  docs/index.rst
  docs/tutorials/10_train_custom_env.ipynb
  docs/tutorials/8_train_sqil.ipynb
  src/imitation/algorithms/adversarial/common.py
  src/imitation/algorithms/base.py
  src/imitation/algorithms/bc.py
  src/imitation/algorithms/density.py
  src/imitation/algorithms/sqil.py
  src/imitation/data/rollout.py
  src/imitation/data/types.py
  src/imitation/testing/expert_trajectories.py
  src/imitation/util/util.py
  tests/algorithms/test_sqil.py
Due: check-notebooks, mypy, pytype, docs

Adapt demonstration of significance testing in cli.rst to consume all generated monitor CSVs
  docs/getting-started/cli.rst
Due: docs

Refactor InteractivePolicy
  src/imitation/policies/base.py
  src/imitation/policies/interactive.py
  src/imitation/policies/text_interactive.py
Due: mypy, pytype, docs

Allow user-defined custom action maps
  src/imitation/policies/text_interactive.py
Due: mypy, pytype, docs

Allow to refresh console after each step
  src/imitation/policies/text_interactive.py
Due: mypy, pytype, docs

Build the console prompt interactively
  src/imitation/policies/interactive_text.py
Due: mypy, pytype, docs

Slightly adapt interactive code from retro-gym
  src/imitation/policies/retro_gym_.py
Due: mypy, pytype, docs

Collect and print trajectories in demo of interactive_text.py
  src/imitation/policies/interactive_text.py
Due: mypy, pytype, docs

Adapt import in interactive_text.py
  src/imitation/policies/interactive_text.py
Due: mypy, pytype, docs

Add WIP version of AtariInteractivePolicy
  examples/run_atari_with_human_input.py
  examples/train_dagger_with_human_demos_atari.py
  src/imitation/policies/base.py
  src/imitation/policies/interactive.py
  src/imitation/policies/interactive_atari.py
  src/imitation/policies/interactive_text.py
  src/imitation/policies/retro_gym_.py
Due: mypy, pytype, docs

Adapt train_dagger_with_human_demos.py to changed paths
  examples/train_dagger_with_human_demos.py
  tests/policies/test_interactive.py
Due: mypy, pytype, docs

Add scripts for type-checking rst doc files and Jupyter notebooks
  ci/typecheck_docs.py
  ci/typecheck_notebooks.py
  setup.py
Due: mypy, pytype, docs

Remove misleading file suffix npz and improve significance test output
  docs/getting-started/cli.rst
Due: docs

Additional examples of CLI usage (#761)
  docs/getting-started/cli.rst
Due: docs

Adds rng argument to querent
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Add querent default config
  src/imitation/scripts/config/train_preference_comparisons.py
Due: mypy, pytype, docs

Fix tests
  setup.py
  src/imitation/algorithms/preference_comparisons.py
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Tune preference comparison example hyperparameters
  docs/algorithms/preference_comparisons.rst
Due: docs

Fix test
  src/imitation/scripts/train_rl.py
Due: mypy, pytype, docs

Ignore coverage in script configurations.
  setup.cfg
Due: none

Pin huggingface_sb3 version.
  setup.py
Due: mypy, pytype, docs

Fix errors related to post_wrappers
  docs/algorithms/airl.rst
  docs/algorithms/gail.rst
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5b_train_preference_comparisons_with_synchronous_human_feedback.ipynb
  docs/tutorials/8_train_custom_env.ipynb
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/ingredients/environment.py
  src/imitation/testing/expert_trajectories.py
Due: check-notebooks, mypy, pytype, docs

Add huggingface_sb3<=2.2.5 version requirement
  setup.py
Due: mypy, pytype, docs

Properly specify the compatible seals version so it does not auto-upgrade to 0.2.
  setup.py
Due: mypy, pytype, docs

Make random_mdp test deterministic by seeding the environment.
  tests/algorithms/test_mce_irl.py
Due: mypy, pytype, docs

Tune hyperparameters for kernel density estimation tutorial
  docs/tutorials/7_train_density.ipynb
Due: check-notebooks

Update docs/algorithms/density.rst (nit)
  docs/algorithms/density.rst
Due: docs

Modify .rst docs for density estimation to match tutorials
  docs/algorithms/density.rst
Due: docs

Modify .rst docs for GAIL and AIRL to match tutorials
  docs/algorithms/airl.rst
  docs/algorithms/gail.rst
Due: docs

Tune hyperparameters in tutorials for GAIL and AIRL
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
Due: check-notebooks

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
