Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: bash -c 'pytype -j ${NUM_CPUS:-auto}'
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && SKIP_DOCTEST=True NB_EXECUTION_MODE=off make html"
  require_serial: true
  verbose: true
  pass_filenames: false

Update tutorial notebooks
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/8a_train_sqil_sac.ipynb
Due: check-notebooks

Remove output from 3_train_gail.ipynb
  docs/tutorials/3_train_gail.ipynb
Due: check-notebooks

Adjust rl_kwargs to pass sqil performance test
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

customize rl parameters for different algo in test
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Increase timeout to 5 min and shorten a NB runtime
  docs/tutorials/4_train_airl.ipynb
  tests/test_examples.py
Due: check-notebooks, mypy, pytype, docs

Resolve np randint high bound issue
  .circleci/config.yml
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Increase the notebook timeout from 5 mins to 9
  tests/test_examples.py
Due: mypy, pytype, docs

remove FloatReward
  tests/algorithms/test_bc.py
Due: mypy, pytype, docs

Fix test_bc
  src/imitation/data/rollout.py
  tests/algorithms/test_bc.py
Due: mypy, pytype, docs

Turn off GPU finding to avoid using gpu device
  tests/algorithms/test_dagger.py
Due: mypy, pytype, docs

Check None to ensure __add__ can work
  src/imitation/data/rollout.py
  tests/algorithms/test_mce_irl.py
Due: mypy, pytype, docs

fix docstring
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

bypass pytype and lint test
  src/imitation/algorithms/density.py
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

format with black
  src/imitation/algorithms/density.py
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Test dict space in density algo
  tests/algorithms/test_density_baselines.py
Due: mypy, pytype, docs

black format
  tests/algorithms/test_density_baselines.py
Due: mypy, pytype, docs

small fix
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

add github issue number for tracking
  tests/test_examples.py
Due: mypy, pytype, docs

rename env to venv, add seed
  docs/tutorials/4_train_airl.ipynb
Due: check-notebooks

change name to "enable long path" for clarity
  .circleci/config.yml
Due: none

Add DictObs into test_wrappers
  src/imitation/data/wrappers.py
  src/imitation/rewards/reward_wrapper.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

reformat notebook
  docs/tutorials/10_train_custom_env.ipynb
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/6_train_mce.ipynb
  docs/tutorials/7_train_density.ipynb
  docs/tutorials/8_train_sqil.ipynb
  docs/tutorials/8a_train_sqil_sac.ipynb
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

reformat notebook use black-jupyter
  docs/tutorials/10_train_custom_env.ipynb
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/6_train_mce.ipynb
  docs/tutorials/7_train_density.ipynb
  docs/tutorials/8_train_sqil.ipynb
  docs/tutorials/8a_train_sqil_sac.ipynb
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

fix format
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

minor fix
  src/imitation/algorithms/density.py
  tests/algorithms/test_bc.py
  tests/algorithms/test_dagger.py
  tests/algorithms/test_density_baselines.py
Due: mypy, pytype, docs

type and lint fix
  src/imitation/algorithms/density.py
  tests/algorithms/test_density_baselines.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

Add policy training test
  src/imitation/rewards/reward_wrapper.py
  tests/algorithms/test_density_baselines.py
Due: mypy, pytype, docs

suppress line too long lint check on a line
  src/imitation/algorithms/density.py
Due: mypy, pytype, docs

acts to obs for clarity
  src/imitation/algorithms/dagger.py
Due: mypy, pytype, docs

Add HumanReadableWrapper
  src/imitation/data/wrappers.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

fix dict env observation space
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

adjust wrapper and not set render_mode inside
  src/imitation/data/wrappers.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

Fix glob expansion by adding quotes and add diagnostics
  .circleci/config.yml
Due: none

Remove workaround no longer needed with Gymnasium
  docs/requirements.txt
  readthedocs.yml
Due: none

Incorporate review comments
  src/imitation/scripts/analyze.py
  src/imitation/scripts/config/tuning.py
  src/imitation/scripts/parallel.py
  src/imitation/scripts/tuning.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Bugfix in sys.modules restore
  tests/util/test_wb_logger.py
Due: mypy, pytype, docs

Change SQIL SAC to use Pendulum
  docs/tutorials/8a_train_sqil_sac.ipynb
Due: check-notebooks

Remove MuJoCo install
  .circleci/config.yml
Due: none

Invalidate MacOS cache
  .circleci/config.yml
Due: none

Add additional obs check
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
