Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: pytype -j auto
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && make html"
  require_serial: true
  verbose: true
  pass_filenames: false

gymnasium compatible reset, step and seed
  src/imitation/algorithms/density.py
  src/imitation/data/wrappers.py
  src/imitation/policies/replay_buffer_wrapper.py
  src/imitation/util/util.py
  src/imitation/util/video_wrapper.py
  tests/algorithms/test_mce_irl.py
  tests/algorithms/test_preference_comparisons.py
  tests/data/test_rollout.py
  tests/data/test_wrappers.py
  tests/policies/test_policies.py
Due: mypy, pytype, docs

Import gymnasium as gym everywhere and remove gym-specific fixes in the pipeline.
  ci/build_and_activate_venv.ps1
  ci/build_and_activate_venv.sh
  docs/algorithms/airl.rst
  docs/algorithms/bc.rst
  docs/algorithms/dagger.rst
  docs/algorithms/gail.rst
  docs/tutorials/10_train_custom_env.ipynb
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/7_train_density.ipynb
  examples/quickstart.py
  setup.py
  src/imitation/algorithms/bc.py
  src/imitation/algorithms/mce_irl.py
  src/imitation/data/wrappers.py
  src/imitation/policies/base.py
  src/imitation/rewards/reward_nets.py
  src/imitation/scripts/eval_policy.py
  src/imitation/testing/hypothesis_strategies.py
  src/imitation/testing/reward_nets.py
  src/imitation/util/registry.py
  src/imitation/util/util.py
  src/imitation/util/video_wrapper.py
  tests/algorithms/test_dagger.py
  tests/algorithms/test_mce_irl.py
  tests/algorithms/test_preference_comparisons.py
  tests/data/test_rollout.py
  tests/data/test_types.py
  tests/data/test_wrappers.py
  tests/policies/test_policies.py
  tests/rewards/test_reward_nets.py
Due: check-notebooks, mypy, pytype, docs

Fix gym->gymnasium import in SQIL implementation.
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Update dependencies
  setup.py
Due: mypy, pytype, docs

Update dependencies.
  setup.py
Due: mypy, pytype, docs

Make sb3 and hf-sb3 version specification less strict.
  setup.py
Due: mypy, pytype, docs

Ensure up-to-date pip version that does modern dependency resolution so we get the right version of protobuf.
  ci/build_and_activate_venv.sh
Due: none

Fix the way we access the spec.
  src/imitation/util/util.py
Due: mypy, pytype, docs

Set minimum version for gymnasium dependency.
  setup.py
Due: mypy, pytype, docs

Fix signature of VideoWrapper so it properly overrides gymnasium.Wrapper.
  setup.py
  src/imitation/util/video_wrapper.py
Due: mypy, pytype, docs

Don't install gym[atari] but just gym as a hack.
  .circleci/config.yml
Due: none

make ATARI_REQUIRE equivalent to seals[atari]
  setup.py
Due: mypy, pytype, docs

Specify seals minimum version.
  setup.py
Due: mypy, pytype, docs

Add missing raises section in generate_trajectories()
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Fix isort issue.
  tests/data/test_buffer.py
Due: mypy, pytype, docs

Downgrade furo for sphinx comaptibility.
  setup.py
Due: mypy, pytype, docs

Fix mypy issues.
  src/imitation/util/util.py
  tests/algorithms/test_mce_irl.py
Due: mypy, pytype, docs

Add missing trailing commas.
  src/imitation/algorithms/density.py
  src/imitation/policies/base.py
Due: mypy, pytype, docs

Place mypy assert hint in a better place.
  src/imitation/rewards/reward_nets.py
Due: mypy, pytype, docs

Fix more mypy issues by introducing runtime type checks.
  src/imitation/algorithms/density.py
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Fix type violations found by mytype.
  src/imitation/algorithms/adversarial/common.py
  src/imitation/algorithms/dagger.py
  src/imitation/data/buffer.py
  src/imitation/policies/base.py
  src/imitation/rewards/reward_nets.py
  src/imitation/testing/hypothesis_strategies.py
  src/imitation/testing/reward_nets.py
  src/imitation/util/logger.py
  src/imitation/util/util.py
  tests/algorithms/test_mce_irl.py
  tests/data/test_types.py
Due: mypy, pytype, docs

Adapt logger test to new "None" representation of sb3 logger.
  tests/util/test_logger.py
Due: mypy, pytype, docs

Set huggingface_sb3 version to the correct one.
  setup.py
Due: mypy, pytype, docs

Black and isort fixes.
  src/imitation/algorithms/adversarial/common.py
  src/imitation/algorithms/density.py
  src/imitation/policies/base.py
Due: mypy, pytype, docs

Fix bug in make_vec_env
  src/imitation/util/util.py
Due: mypy, pytype, docs

Use max_episode_steps parameter of gym.make instead of constructing the TimeLimit wrapper by hand.
  src/imitation/util/util.py
Due: mypy, pytype, docs

Remove unused imports.
  src/imitation/util/logger.py
Due: mypy, pytype, docs

Add seals[atari] to test requirements.
  setup.py
Due: mypy, pytype, docs

Use cast instead of assert for mypy
  tests/algorithms/test_mce_irl.py
Due: mypy, pytype, docs

Add gym to doctest pipeline. TODO: remove before merge!!!
  .circleci/config.yml
Due: none

Fix test_replay_buffer_init_errors test.
  tests/data/test_buffer.py
Due: mypy, pytype, docs

Fix implementation of ObsRewHalveWrapper.
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Hacky pipeline fixes to load outdated expert models and disable windows and mac pipelines. TODO UNDO THIS BEFORE MERGE!!!
  .circleci/config.yml
Due: none

Import gymnasium instead of gym in interactive policies.
  src/imitation/policies/interactive.py
  tests/policies/test_interactive.py
Due: mypy, pytype, docs

Fix trailing whitespace
  .circleci/config.yml
Due: none

Re-enable windows and mac pipelines.
  .circleci/config.yml
Due: none

Fix typing issue in interactive.py
  src/imitation/policies/interactive.py
Due: mypy, pytype, docs

Pull seals from feature branch TODO undo before merge!
  setup.py
Due: mypy, pytype, docs

Fix typing issue in test_interactive.py
  tests/policies/test_interactive.py
Due: mypy, pytype, docs

Install gym in macos unit tests. TODO REMOVE BEFORE MERGING
  .circleci/config.yml
Due: none

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
