Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: pytype -j auto
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && make html"
  require_serial: true
  verbose: true
  pass_filenames: false

Install shellcheck first
  .circleci/config.yml
Due: none

Update Dockerfile: curl->wget
  Dockerfile
Due: none

Add back curl
  Dockerfile
Due: none

Refactor circleci to reuse commands from precommit (#613)
  .circleci/config.yml
  .codespell.skip
  .pre-commit-config.yaml
  Dockerfile
Due: none

Add resume option and sample=False for PC
  src/imitation/scripts/config/parallel.py
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Fix bug and add support for Off Policy RL
  src/imitation/algorithms/adversarial/common.py
  src/imitation/policies/replay_buffer_wrapper.py
Due: mypy, pytype, docs

Add changes
  src/imitation/algorithms/adversarial/common.py
  src/imitation/policies/replay_buffer_wrapper.py
Due: mypy, pytype, docs

Modify AIRL reward signal
  src/imitation/algorithms/adversarial/airl.py
  src/imitation/policies/replay_buffer_wrapper.py
Due: mypy, pytype, docs

Add benchmarking results
  benchmarking/logs_example_airl_seals_ant_bhp.csv
  benchmarking/logs_example_airl_seals_half_cheetah_bhp.csv
  benchmarking/logs_example_airl_seals_hopper_bhp.csv
  benchmarking/logs_example_airl_seals_swimmer_bhp.csv
  benchmarking/logs_example_airl_seals_walker_bhp.csv
  benchmarking/logs_example_bc_seals_ant_bhp.csv
  benchmarking/logs_example_bc_seals_half_cheetah_bhp.csv
  benchmarking/logs_example_bc_seals_hopper_bhp.csv
  benchmarking/logs_example_bc_seals_swimmer_bhp.csv
  benchmarking/logs_example_bc_seals_walker_bhp.csv
  benchmarking/logs_example_dagger_seals_ant_bhp.csv
  benchmarking/logs_example_dagger_seals_half_cheetah_bhp.csv
  benchmarking/logs_example_dagger_seals_hopper_bhp.csv
  benchmarking/logs_example_dagger_seals_swimmer_bhp.csv
  benchmarking/logs_example_dagger_seals_walker_bhp.csv
  benchmarking/logs_example_gail_seals_ant_bhp.csv
  benchmarking/logs_example_gail_seals_half_cheetah_bhp.csv
  benchmarking/logs_example_gail_seals_hopper_bhp.csv
  benchmarking/logs_example_gail_seals_swimmer_bhp.csv
  benchmarking/logs_example_gail_seals_walker_bhp.csv
Due: none

Make PC search space bottlenecked by RL
  src/imitation/scripts/config/parallel.py
Due: mypy, pytype, docs

Use existing .codespell.skip file for words to be ignored by codespell.
  .pre-commit-config.yaml
Due: none

Add support to download rollouts from huggingface
  src/imitation/policies/serialize.py
  src/imitation/scripts/common/demonstrations.py
  src/imitation/scripts/common/expert.py
Due: mypy, pytype, docs

Add changes for onpolicy & offpolicy
  src/imitation/algorithms/adversarial/common.py
  src/imitation/policies/replay_buffer_wrapper.py
  src/imitation/rewards/reward_nets.py
Due: mypy, pytype, docs

Remove n_steps from adversarial search space
  src/imitation/scripts/config/parallel.py
Due: mypy, pytype, docs

Add readme file to benchmarking
  benchmarking/README.md
Due: none

Fix imports of logging ingredient to make them look less like a typo.
  src/imitation/scripts/config/eval_policy.py
  src/imitation/scripts/config/train_adversarial.py
  src/imitation/scripts/config/train_imitation.py
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/config/train_rl.py
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/ingredients/environment.py
  src/imitation/scripts/ingredients/rl.py
  src/imitation/scripts/ingredients/train.py
  src/imitation/scripts/train_adversarial.py
  src/imitation/scripts/train_imitation.py
  src/imitation/scripts/train_preference_comparisons.py
  src/imitation/scripts/train_rl.py
Due: mypy, pytype, docs

Fix formatting in example notebook.
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Add check for rollout_path
  src/imitation/scripts/common/expert.py
Due: mypy, pytype, docs

Fix type error
  src/imitation/scripts/common/demonstrations.py
Due: mypy, pytype, docs

Do not remove env name
  benchmarking/util.py
Due: mypy, pytype, docs

Add env names
  benchmarking/example_airl_seals_ant_best_hp_eval.json
  benchmarking/example_airl_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_airl_seals_hopper_best_hp_eval.json
  benchmarking/example_airl_seals_swimmer_best_hp_eval.json
  benchmarking/example_airl_seals_walker_best_hp_eval.json
  benchmarking/example_bc_seals_ant_best_hp_eval.json
  benchmarking/example_bc_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_bc_seals_hopper_best_hp_eval.json
  benchmarking/example_bc_seals_swimmer_best_hp_eval.json
  benchmarking/example_bc_seals_walker_best_hp_eval.json
  benchmarking/example_dagger_seals_ant_best_hp_eval.json
  benchmarking/example_dagger_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_dagger_seals_hopper_best_hp_eval.json
  benchmarking/example_dagger_seals_swimmer_best_hp_eval.json
  benchmarking/example_dagger_seals_walker_best_hp_eval.json
  benchmarking/example_gail_seals_ant_best_hp_eval.json
  benchmarking/example_gail_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_gail_seals_hopper_best_hp_eval.json
  benchmarking/example_gail_seals_swimmer_best_hp_eval.json
  benchmarking/example_gail_seals_walker_best_hp_eval.json
Due: none

Remove policy value
  benchmarking/example_airl_seals_ant_best_hp_eval.json
  benchmarking/example_airl_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_airl_seals_hopper_best_hp_eval.json
  benchmarking/example_airl_seals_swimmer_best_hp_eval.json
  benchmarking/example_airl_seals_walker_best_hp_eval.json
  benchmarking/example_bc_seals_ant_best_hp_eval.json
  benchmarking/example_bc_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_bc_seals_hopper_best_hp_eval.json
  benchmarking/example_bc_seals_swimmer_best_hp_eval.json
  benchmarking/example_bc_seals_walker_best_hp_eval.json
  benchmarking/example_dagger_seals_ant_best_hp_eval.json
  benchmarking/example_dagger_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_dagger_seals_hopper_best_hp_eval.json
  benchmarking/example_dagger_seals_swimmer_best_hp_eval.json
  benchmarking/example_dagger_seals_walker_best_hp_eval.json
  benchmarking/example_gail_seals_ant_best_hp_eval.json
  benchmarking/example_gail_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_gail_seals_hopper_best_hp_eval.json
  benchmarking/example_gail_seals_swimmer_best_hp_eval.json
  benchmarking/example_gail_seals_walker_best_hp_eval.json
Due: none

Update example command
  benchmarking/README.md
Due: none

Fixed notebook linting
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Fixed types in benchmarking util
  benchmarking/util.py
Due: mypy, pytype, docs

Replace list with List
  benchmarking/util.py
Due: mypy, pytype, docs

Lint the util.py file
  benchmarking/util.py
Due: mypy, pytype, docs

Fix black formatting error
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Fix black formatting error (#630)
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Remove spurious whitespace
  benchmarking/README.md
  benchmarking/util.py
Due: mypy, pytype, docs

Include suggestions from Adam
  benchmarking/util.py
Due: mypy, pytype, docs

Add benchmarking results (#627)
  benchmarking/README.md
  benchmarking/example_airl_seals_ant_best_hp_eval.json
  benchmarking/example_airl_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_airl_seals_hopper_best_hp_eval.json
  benchmarking/example_airl_seals_swimmer_best_hp_eval.json
  benchmarking/example_airl_seals_walker_best_hp_eval.json
  benchmarking/example_bc_seals_ant_best_hp_eval.json
  benchmarking/example_bc_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_bc_seals_hopper_best_hp_eval.json
  benchmarking/example_bc_seals_swimmer_best_hp_eval.json
  benchmarking/example_bc_seals_walker_best_hp_eval.json
  benchmarking/example_dagger_seals_ant_best_hp_eval.json
  benchmarking/example_dagger_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_dagger_seals_hopper_best_hp_eval.json
  benchmarking/example_dagger_seals_swimmer_best_hp_eval.json
  benchmarking/example_dagger_seals_walker_best_hp_eval.json
  benchmarking/example_gail_seals_ant_best_hp_eval.json
  benchmarking/example_gail_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_gail_seals_hopper_best_hp_eval.json
  benchmarking/example_gail_seals_swimmer_best_hp_eval.json
  benchmarking/example_gail_seals_walker_best_hp_eval.json
  benchmarking/util.py
Due: mypy, pytype, docs

Update BiBTeX in README
  README.md
Due: none

Add BibTeX to docs
  docs/index.rst
Due: docs

Run workflow on version tag push as well
  .github/workflows/publish-to-pypi.yml
Due: none

Run workflow on version tag push as well (#633)
  .github/workflows/publish-to-pypi.yml
Due: none

Add CITATION BibTeX
  CITATION.bib
Due: none

Change bib to cff
  CITATION.bib
  CITATION.cff
Due: none

Revert "Change bib to cff"
  CITATION.bib
  CITATION.cff
Due: none

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
