Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: pytype -j auto
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && make html"
  require_serial: true
  verbose: true
  pass_filenames: false

Updates from review
  benchmarking/tuning.py
  benchmarking/tuning_config.py
  src/imitation/scripts/config/parallel.py
  src/imitation/scripts/parallel.py
  tests/test_benchmarking.py
Due: mypy, pytype, docs

fix lint error
  src/imitation/scripts/config/parallel.py
Due: mypy, pytype, docs

Add documentation for using the tuning script
  benchmarking/README.md
Due: none

Fix lint error
  benchmarking/README.md
Due: none

Fix heading level in tutorial.
  docs/tutorials/8_train_custom_env.ipynb
Due: check-notebooks

Fix capitalization of algorithm article titles.
  docs/algorithms/density.rst
  docs/algorithms/preference_comparisons.rst
Due: docs

Documentation nits (#756)
  docs/algorithms/density.rst
  docs/algorithms/preference_comparisons.rst
  docs/tutorials/8_train_custom_env.ipynb
Due: check-notebooks, docs

Updates from the review
  benchmarking/README.md
  benchmarking/airl_seals_ant_best_hp_eval.json
  benchmarking/airl_seals_half_cheetah_best_hp_eval.json
  benchmarking/airl_seals_hopper_best_hp_eval.json
  benchmarking/airl_seals_swimmer_best_hp_eval.json
  benchmarking/airl_seals_walker_best_hp_eval.json
  benchmarking/bc_seals_ant_best_hp_eval.json
  benchmarking/bc_seals_half_cheetah_best_hp_eval.json
  benchmarking/bc_seals_hopper_best_hp_eval.json
  benchmarking/bc_seals_swimmer_best_hp_eval.json
  benchmarking/bc_seals_walker_best_hp_eval.json
  benchmarking/dagger_seals_ant_best_hp_eval.json
  benchmarking/dagger_seals_half_cheetah_best_hp_eval.json
  benchmarking/dagger_seals_hopper_best_hp_eval.json
  benchmarking/dagger_seals_swimmer_best_hp_eval.json
  benchmarking/dagger_seals_walker_best_hp_eval.json
  benchmarking/gail_seals_ant_best_hp_eval.json
  benchmarking/gail_seals_half_cheetah_best_hp_eval.json
  benchmarking/gail_seals_hopper_best_hp_eval.json
  benchmarking/gail_seals_swimmer_best_hp_eval.json
  benchmarking/gail_seals_walker_best_hp_eval.json
  benchmarking/tuning.py
  benchmarking/tuning_config.py
  benchmarking/util.py
  experiments/commands.py
  src/imitation/scripts/config/parallel.py
  tests/test_benchmarking.py
  tests/test_experiments.py
Due: mypy, pytype, docs

Fix file name test errors
  experiments/commands.py
  tests/test_experiments.py
Due: mypy, pytype, docs

Simplify SQIL example and tutorial by 1. downloading expert trajectories instead of training an expert and sampling from the expert and 2. passing trajectories instead of transitions to SQIL.
  docs/algorithms/sqil.rst
  docs/tutorials/8_train_sqil.ipynb
Due: check-notebooks, docs

Improve docstring of SQILReplayBuffer.
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Set the expert_buffer in the constructor.
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Consistently set expert transition reward to 1 and learner transition reward to 0 when adding them to the SQILReplayBuffer instead of modifying them on-the-fly when sampling.
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Fix docstring of SQILReplayBuffer.sample()
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Switch back to the CartPole-v1 environment in the SQIL examples
  docs/algorithms/sqil.rst
  docs/tutorials/8_train_sqil.ipynb
Due: check-notebooks, docs

Only train for 1k steps in the SQIL example so the doctests don't run for too long.
  docs/algorithms/sqil.rst
Due: docs

Fix cell metadata for tutorial notebook.
  docs/tutorials/8_train_sqil.ipynb
Due: check-notebooks

Notebook formatting fixes.
  docs/tutorials/8_train_sqil.ipynb
Due: check-notebooks

Fix typing error in SQIL implementation.
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Fix isort issue.
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Add tune_run_kwargs in parallel script
  src/imitation/scripts/config/parallel.py
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Fix test errors
  src/imitation/scripts/config/parallel.py
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Fix test
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Fix lint
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Clarify that our variant of the SQIL implementation is not really "soft".
  docs/algorithms/sqil.rst
Due: docs

Fix link in experts documentation.
  docs/main-concepts/experts.rst
Due: docs

Remove support for transition mappings.
  src/imitation/algorithms/sqil.py
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Updates from review
  benchmarking/tuning.py
  src/imitation/scripts/config/parallel.py
  src/imitation/scripts/parallel.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Remove data_loader from SQIL test cases.
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Simplify few lines of code
  benchmarking/tuning.py
Due: mypy, pytype, docs

Improve type annotations in optimizer class configuration.
  src/imitation_cli/utils/optimizer_class.py
Due: mypy, pytype, docs

Add draft of BC CLI.
  src/imitation/algorithms/bc.py
  src/imitation_cli/algorithm_configurations/bc.py
  src/imitation_cli/bc.py
  src/imitation_cli/config/bc_run.yaml
Due: mypy, pytype, docs

Add draft of DAgger CLI.
  src/imitation_cli/algorithm_configurations/dagger.py
  src/imitation_cli/config/dagger_run.yaml
  src/imitation_cli/dagger.py
Due: mypy, pytype, docs

Bump number of demonstrations in SQIL performance test to reduce flakiness.
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Fix broken link in the experts documentation.
  docs/main-concepts/experts.rst
Due: docs

Update installation instructions with workarounds for broken dependencies.
  docs/getting-started/installation.rst
Due: docs

more cli examples
  docs/getting-started/cli.rst
Due: docs

Target all ARM64 macs not just M1 ones in the installation instructions.
  docs/getting-started/installation.rst
Due: docs

Make BC and DAgger forward kwargs to superclass.
  src/imitation/algorithms/bc.py
  src/imitation/algorithms/dagger.py
Due: mypy, pytype, docs

Add BaseImitationAlgorithmConfig and DemonstrationAlgorithmConfig to mirror the class Hierarchy of the imitation algorithms.
  src/imitation_cli/algorithm_configurations/airl.py
  src/imitation_cli/algorithm_configurations/base.py
  src/imitation_cli/algorithm_configurations/bc.py
  src/imitation_cli/algorithm_configurations/dagger.py
Due: mypy, pytype, docs

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
