Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Linting
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude_types: [jupyter]
  - id: check-toml
  - id: check-added-large-files
  - id: check-ast
- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
  - id: black-jupyter
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
# Python static analysis
- repo: https://github.com/pycqa/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-blind-except
      - flake8-builtins
      - flake8-commas
      - flake8-debugger
      - flake8-docstrings
- repo: https://github.com/terrencepreilly/darglint
  rev: v1.8.1
  hooks:
  - id: darglint
# Shell static analysis
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.8.0
  hooks:
  - id: shellcheck
# Misc
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    args: ["--skip=*.pyc,tests/testdata/*,*.ipynb,*.csv"]
- repo: https://github.com/syntaqx/git-hooks
  rev: v0.0.17
  hooks:
  - id: circleci-config-validate
# Hooks that run in local environment (not isolated venv) as they need
# same dependencies as our package.
- repo: local
  hooks:
  - id: check-notebooks
    name: check-notebooks
    entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
    language: script
    types: [jupyter]
    pass_filenames: false
  # Run mypy directly from local repo rather than using mirror-mypy
  # so that it uses installed dependencies. Adapted from:
  # https://jaredkhan.com/blog/mypy-pre-commit
  - id: mypy
    name: mypy
    language: system
    types: [python]
    entry: mypy --follow-imports=silent --show-error-codes
    # use require_serial so that script
    # is only called once per commit
    require_serial: true
    # Print the number of files as a sanity-check
    verbose: true
  - id: pytype
    name: pytype
    language: system
    types: [python]
    entry: pytype -j auto
    require_serial: true
    verbose: true
  - id: docs
    name: docs
    language: system
    types_or: [python, rst]
    entry: bash -c "cd docs/ && make clean && make html"
    require_serial: true
    verbose: true
    pass_filenames: false

Fix seeds flag.
  benchmarking/README.md
Due: none

format
  benchmarking/README.md
  src/imitation/scripts/compare_to_baseline.py
Due: mypy, pytype, docs

style
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Add support for a simple preference UI
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/train_preference_comparisons.py
  src/imitation/util/video_wrapper.py
Due: mypy, pytype, docs

comments
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/scripts/train_preference_comparisons.py
  src/imitation/util/video_wrapper.py
Due: mypy, pytype, docs

add notebook
  ci/clean_notebooks.py
  docs/tutorials/5b_train_preference_comparisons_with_synchronous_human_feedback.ipynb
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/util/video_wrapper.py
Due: check-notebooks, mypy, pytype, docs

tutorial
  docs/index.rst
Due: docs

lint
  ci/clean_notebooks.py
Due: mypy, pytype, docs

lint
  ci/clean_notebooks.py
  setup.cfg
Due: mypy, pytype, docs

more lint
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

oops
  setup.cfg
Due: none

Make clear that trajectories are not necessarily expert demonstrations.
  docs/tutorials/trajectories.rst
Due: docs

Improve documentation for the info field of the Trajectories dataclass.
  docs/tutorials/trajectories.rst
  src/imitation/data/types.py
Due: mypy, pytype, docs

Mention that TrajectoryWithRew extends Trajectory
  docs/tutorials/trajectories.rst
Due: docs

Don't mention experts when talking about generating trajectories.
  docs/tutorials/trajectories.rst
Due: docs

add baseline
  benchmarking/baseline.csv
Due: none

add test
  src/imitation/algorithms/preference_comparisons.py
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

fix tests
  benchmarking/baseline.csv
  benchmarking/results/logs_example_airl_seals_ant_bhp.csv
  benchmarking/results/logs_example_airl_seals_half_cheetah_bhp.csv
  benchmarking/results/logs_example_airl_seals_hopper_bhp.csv
  benchmarking/results/logs_example_airl_seals_swimmer_bhp.csv
  benchmarking/results/logs_example_airl_seals_walker_bhp.csv
  benchmarking/results/logs_example_bc_seals_ant_bhp.csv
  benchmarking/results/logs_example_bc_seals_half_cheetah_bhp.csv
  benchmarking/results/logs_example_bc_seals_hopper_bhp.csv
  benchmarking/results/logs_example_bc_seals_swimmer_bhp.csv
  benchmarking/results/logs_example_bc_seals_walker_bhp.csv
  benchmarking/results/logs_example_dagger_seals_ant_bhp.csv
  benchmarking/results/logs_example_dagger_seals_half_cheetah_bhp.csv
  benchmarking/results/logs_example_dagger_seals_hopper_bhp.csv
  benchmarking/results/logs_example_dagger_seals_swimmer_bhp.csv
  benchmarking/results/logs_example_dagger_seals_walker_bhp.csv
  benchmarking/results/logs_example_gail_seals_ant_bhp.csv
  benchmarking/results/logs_example_gail_seals_half_cheetah_bhp.csv
  benchmarking/results/logs_example_gail_seals_hopper_bhp.csv
  benchmarking/results/logs_example_gail_seals_swimmer_bhp.csv
  benchmarking/results/logs_example_gail_seals_walker_bhp.csv
  src/imitation/scripts/compare_to_baseline.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

lint
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/train_preference_comparisons.py
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

rm comments
  src/imitation/scripts/config/train_preference_comparisons.py
Due: mypy, pytype, docs

Preference comparison improvements
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/rewards/reward_nets.py
  src/imitation/scripts/analyze.py
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/train_preference_comparisons.py
Due: mypy, pytype, docs

lint
  src/imitation/scripts/train_preference_comparisons.py
Due: mypy, pytype, docs

Fix whitespace issues.
  src/imitation/data/types.py
Due: mypy, pytype, docs

Integrate SynchronousHumanPreferenceGatherer
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/train_preference_comparisons.py
Due: mypy, pytype, docs

Changes from review
  src/imitation/scripts/config/parallel.py
  src/imitation/scripts/config/train_adversarial.py
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/parallel.py
  src/imitation/scripts/train_imitation.py
Due: mypy, pytype, docs

Fix errors with some configs
  src/imitation/scripts/config/parallel.py
Due: mypy, pytype, docs

Fix remaining tests
  src/imitation/algorithms/preference_comparisons.py
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Add an explanation for what trajectories are.
  docs/tutorials/trajectories.rst
Due: docs

Fix the title of the trajectories article.
  docs/tutorials/trajectories.rst
Due: docs

Add hints on how to find out more about info dicts.
  docs/tutorials/trajectories.rst
Due: docs

Improve the explanation for why there are Trajectories vs. Transitions
  docs/tutorials/trajectories.rst
Due: docs

Sample at least 10 episodes instead of 1000 timesteps to remove any ambiguities from the example code.
  docs/tutorials/trajectories.rst
Due: docs

Add short tutorial about trajectories (#704)
  docs/index.rst
  docs/tutorials/trajectories.rst
  src/imitation/data/types.py
Due: mypy, pytype, docs

Move hypopthesis strategies to their own file and clean up tests.
  src/imitation/testing/hypothesis_strategies.py
  tests/data/test_huggingface_utils.py
Due: mypy, pytype, docs

Fix bug with sliced access to a TrajectoryDatasetSequence.
  src/imitation/data/huggingface_utils.py
Due: mypy, pytype, docs

Fix bug with storing the dataset of a TrajectoryDatasetSequence.
  src/imitation/data/huggingface_utils.py
Due: mypy, pytype, docs

Add instructions on how to upload/download trajectories from HuggingFace Datasets Hub.
  docs/tutorials/trajectories.rst
Due: docs

Remove unused make_dict_from_trajectory function.
  src/imitation/data/huggingface_utils.py
Due: mypy, pytype, docs

Stop using functools LRU cache because it messes up pickleability.
  src/imitation/data/huggingface_utils.py
Due: mypy, pytype, docs
