Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: pytype -j auto
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && make html"
  require_serial: true
  verbose: true
  pass_filenames: false

Set seals version to upstream again.
  setup.py
Due: mypy, pytype, docs

Undo hacky installation of gym in the pipeline as a temporary fix.
  .circleci/config.yml
Due: none

Update expert model in testdata folder to gymnasium.
  tests/testdata/expert_models/cartpole_0/policies/final/model.zip
Due: none

Update SQIL tutorial to gymnasium.
  docs/algorithms/sqil.rst
Due: docs

Remove the requirement for specific setuptools and pip versions from the installation instructions.
  docs/getting-started/installation.rst
Due: docs

Remove mujoco from the installation instructions (will be pulled as a dependency automatically).
  docs/getting-started/installation.rst
Due: docs

Remove reference to gym in reward_networks.rst
  docs/main-concepts/reward_networks.rst
Due: docs

Seed the vecenv using seed and not using reset.
  docs/algorithms/airl.rst
Due: docs

Adapt the custom environment in the custom env tutorial to the gymnasium API and simplify the implementation.
  docs/tutorials/10_train_custom_env.ipynb
Due: check-notebooks

Use proper env name in gail tutorial.
  docs/tutorials/3_train_gail.ipynb
Due: check-notebooks

Fix test
  src/imitation/scripts/ingredients/environment.py
Due: mypy, pytype, docs

Adapt the baselines comparison tutorial to the gymnasium API.
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

Remove some more gym imports from tutorials and examples.
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/8_train_sqil.ipynb
  examples/train_dagger_atari_interactive_policy.py
Due: check-notebooks, mypy, pytype, docs

Reformat buffer.py for better readability.
  src/imitation/data/buffer.py
Due: mypy, pytype, docs

Add actionable hints when generate_trajectories is called with a venv that has an incompatible observation space.
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Ignore info dict when generating rollouts for MCE tests.
  tests/algorithms/test_mce_irl.py
Due: mypy, pytype, docs

Remove note from MCE tests.
  tests/algorithms/test_mce_irl.py
Due: mypy, pytype, docs

Black fixes.
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Add missing trailing comma.
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Upgrade pre-commit tool versions.
  .pre-commit-config.yaml
Due: none

Flake8 fixes.
  src/imitation/algorithms/density.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

Black and codespell fixes.
  ci/clean_notebooks.py
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  src/imitation/algorithms/bc.py
  src/imitation/algorithms/dagger.py
  src/imitation/data/huggingface_utils.py
  tests/data/test_huggingface_utils.py
  tests/util/test_wb_logger.py
Due: check-notebooks, mypy, pytype, docs

Place inline comments in such a way that flake8 and black accept them.
  src/imitation/data/huggingface_utils.py
Due: mypy, pytype, docs

Add isort fix and ensure isort detects wandb as thirdparty.
  setup.cfg
  tests/util/test_wb_logger.py
Due: mypy, pytype, docs

Update to the newest seals environment versions.
  benchmarking/airl_seals_ant_best_hp_eval.json
  benchmarking/airl_seals_half_cheetah_best_hp_eval.json
  benchmarking/airl_seals_hopper_best_hp_eval.json
  benchmarking/airl_seals_swimmer_best_hp_eval.json
  benchmarking/airl_seals_walker_best_hp_eval.json
  benchmarking/bc_seals_ant_best_hp_eval.json
  benchmarking/bc_seals_half_cheetah_best_hp_eval.json
  benchmarking/bc_seals_hopper_best_hp_eval.json
  benchmarking/bc_seals_swimmer_best_hp_eval.json
  benchmarking/bc_seals_walker_best_hp_eval.json
  benchmarking/dagger_seals_ant_best_hp_eval.json
  benchmarking/dagger_seals_half_cheetah_best_hp_eval.json
  benchmarking/dagger_seals_hopper_best_hp_eval.json
  benchmarking/dagger_seals_swimmer_best_hp_eval.json
  benchmarking/dagger_seals_walker_best_hp_eval.json
  benchmarking/gail_seals_ant_best_hp_eval.json
  benchmarking/gail_seals_half_cheetah_best_hp_eval.json
  benchmarking/gail_seals_hopper_best_hp_eval.json
  benchmarking/gail_seals_swimmer_best_hp_eval.json
  benchmarking/gail_seals_walker_best_hp_eval.json
Due: none

Push gymnasium dependency to 0.29 to ensure mujoco envs work.
  setup.py
Due: mypy, pytype, docs

Don't enter the generator logging ctx twice.
  src/imitation/algorithms/adversarial/common.py
Due: mypy, pytype, docs

Fix test errors
  src/imitation/algorithms/adversarial/common.py
  tests/algorithms/test_adversarial.py
Due: mypy, pytype, docs

Update adversarial algorithm
  src/imitation/algorithms/adversarial/common.py
  src/imitation/policies/replay_buffer_wrapper.py
Due: mypy, pytype, docs

Update common.py to fix test errors
  src/imitation/algorithms/adversarial/common.py
Due: mypy, pytype, docs

support for SB3 callbacks in adversarial training
  src/imitation/algorithms/adversarial/common.py
  src/imitation/scripts/train_adversarial.py
  tests/algorithms/test_adversarial.py
Due: mypy, pytype, docs

fix lint errors
  src/imitation/scripts/train_adversarial.py
  tests/algorithms/test_adversarial.py
Due: mypy, pytype, docs

fix mypy errors
  src/imitation/algorithms/adversarial/common.py
  src/imitation/scripts/train_adversarial.py
Due: mypy, pytype, docs

fix isort errors
  src/imitation/algorithms/adversarial/common.py
Due: mypy, pytype, docs

Remove path limit in Windows environment
  .circleci/config.yml
Due: none

From unit-test-windows -> dependencies-windows
  .circleci/config.yml
Due: none

Update tutorial notebooks
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/8a_train_sqil_sac.ipynb
Due: check-notebooks

Revert "Merge branch 'notebook_fix' into add_test_timeout"
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/8a_train_sqil_sac.ipynb
Due: check-notebooks

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
