Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Linting
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-ast
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude_types: [jupyter]
  - id: check-toml
  - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
  - id: black
  - id: black-jupyter
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
# Python static analysis
- repo: https://github.com/pycqa/flake8
  rev: '6.1.0'
  hooks:
  - id: flake8
    additional_dependencies:
      - darglint~=1.8.1
      - flake8-blind-except==0.2.1
      - flake8-builtins~=1.5.3
      - flake8-commas~=2.1.0
      - flake8-debugger~=4.1.2
      - flake8-docstrings~=1.6.0
# Shell static analysis
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.9.0
  hooks:
  - id: shellcheck
  # precommit invokes shellcheck once per file. shellcheck complains if file
  # includes another file not given on the command line. Ignore this, since
  # they'll just get checked in a separate shellcheck invocation.
    args: ["-e", "SC1091"]
# Misc
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["--skip=*.pyc,tests/testdata/*,*.ipynb,*.csv","--ignore-words-list=reacher,ith,iff"]
- repo: https://github.com/syntaqx/git-hooks
  rev: v0.0.18
  hooks:
  - id: circleci-config-validate
# Hooks that run in local environment (not isolated venv) as they need
# same dependencies as our package.
- repo: local
  hooks:
  - id: check-notebooks
    name: check-notebooks
    entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
    language: script
    types: [jupyter]
    pass_filenames: false
  # Run mypy directly from local repo rather than using mirror-mypy
  # so that it uses installed dependencies. Adapted from:
  # https://jaredkhan.com/blog/mypy-pre-commit
  - id: mypy
    name: mypy
    language: system
    types: [python]
    entry: mypy --follow-imports=silent --show-error-codes
    # use require_serial so that script
    # is only called once per commit
    require_serial: true
    # Print the number of files as a sanity-check
    verbose: true
  - id: pytype
    name: pytype
    language: system
    types: [python]
    entry: "bash -c 'pytype -j ${NUM_CPUS:-auto}'"
    require_serial: true
    verbose: true
  - id: docs
    name: docs
    language: system
    types_or: [python, rst]
    entry: bash -c "cd docs/ && make clean && SKIP_DOCTEST=True NB_EXECUTION_MODE=off make html"
    require_serial: true
    verbose: true
    pass_filenames: false

Upgrade pytype and remove workaround for old versions
  setup.py
  tests/algorithms/test_base.py
Due: mypy, pytype, docs

Revert "Invalidate MacOS cache"
  .circleci/config.yml
Due: none

Invalidate Windows dependencies
  .circleci/config.yml
Due: none

Fix test_rollout test
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Fix test errors
  src/imitation/scripts/tuning.py
  tests/test_benchmarking.py
Due: mypy, pytype, docs

add RemoveHumanReadableWrapper and update ob space
  examples/train_dagger_atari_interactive_policy.py
  src/imitation/algorithms/bc.py
  src/imitation/algorithms/dagger.py
  src/imitation/data/wrappers.py
  src/imitation/policies/interactive.py
Due: mypy, pytype, docs

Revert "reformat notebook use black-jupyter"
  docs/tutorials/10_train_custom_env.ipynb
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/6_train_mce.ipynb
  docs/tutorials/7_train_density.ipynb
  docs/tutorials/8_train_sqil.ipynb
  docs/tutorials/8a_train_sqil_sac.ipynb
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

Revert "reformat notebook"
  docs/tutorials/10_train_custom_env.ipynb
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/6_train_mce.ipynb
  docs/tutorials/7_train_density.ipynb
  docs/tutorials/8_train_sqil.ipynb
  docs/tutorials/8a_train_sqil_sac.ipynb
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

reformat 4_train_airl notebook only
  docs/tutorials/4_train_airl.ipynb
Due: check-notebooks

acts to obs for clarity
  src/imitation/algorithms/dagger.py
Due: mypy, pytype, docs

Add HumanReadableWrapper
  src/imitation/data/wrappers.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

adjust wrapper and not set render_mode inside
  src/imitation/data/wrappers.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

fix dict env observation space
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

Revert "add RemoveHumanReadableWrapper and update ob space"
  examples/train_dagger_atari_interactive_policy.py
  src/imitation/algorithms/bc.py
  src/imitation/algorithms/dagger.py
  src/imitation/data/wrappers.py
  src/imitation/policies/interactive.py
Due: mypy, pytype, docs

Revert "adjust wrapper and not set render_mode inside"
  src/imitation/data/wrappers.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

Revert "fix dict env observation space"
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

Revert "Add HumanReadableWrapper"
  src/imitation/data/wrappers.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

Revert "acts to obs for clarity"
  src/imitation/algorithms/dagger.py
Due: mypy, pytype, docs

address comments
  src/imitation/algorithms/density.py
  src/imitation/data/rollout.py
  tests/algorithms/conftest.py
  tests/algorithms/test_bc.py
  tests/algorithms/test_density_baselines.py
Due: mypy, pytype, docs

new pytype need input directory or file
  .pre-commit-config.yaml
Due: none

fix np.dtype
  tests/data/test_buffer.py
Due: mypy, pytype, docs

ignore typed-dict-error
  tests/algorithms/test_base.py
Due: mypy, pytype, docs

context manager related fix
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/train_adversarial.py
  src/imitation/scripts/train_imitation.py
  src/imitation/scripts/train_preference_comparisons.py
  src/imitation/scripts/train_rl.py
Due: mypy, pytype, docs

keep pytype checking more failures
  .pre-commit-config.yaml
Due: none

Revert "keep pytype checking more failures"
  .pre-commit-config.yaml
Due: none

Revert "context manager related fix"
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/train_adversarial.py
  src/imitation/scripts/train_imitation.py
  src/imitation/scripts/train_preference_comparisons.py
  src/imitation/scripts/train_rl.py
Due: mypy, pytype, docs

Revert "ignore typed-dict-error"
  tests/algorithms/test_base.py
Due: mypy, pytype, docs

Revert "fix np.dtype"
  tests/data/test_buffer.py
Due: mypy, pytype, docs

Revert "new pytype need input directory or file"
  .pre-commit-config.yaml
Due: none

Revert "Upgrade pytype and remove workaround for old versions"
  setup.py
  tests/algorithms/test_base.py
Due: mypy, pytype, docs

Upgrade pytype and remove workaround for old versions
  setup.py
Due: mypy, pytype, docs

lint fix
  tests/algorithms/conftest.py
Due: mypy, pytype, docs

fix type check
  tests/algorithms/conftest.py
  tests/algorithms/test_bc.py
  tests/algorithms/test_density_baselines.py
Due: mypy, pytype, docs

fix lint
  tests/algorithms/test_density_baselines.py
Due: mypy, pytype, docs
