Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: pytype -j auto
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && make html"
  require_serial: true
  verbose: true
  pass_filenames: false

Add support for HuggingFace Datasets (#677)
  .gitattributes
  docs/algorithms/density.rst
  experiments/convert_traj.py
  setup.py
  src/imitation/algorithms/adversarial/common.py
  src/imitation/algorithms/bc.py
  src/imitation/algorithms/dagger.py
  src/imitation/data/huggingface_utils.py
  src/imitation/data/serialize.py
  src/imitation/data/types.py
  src/imitation/policies/serialize.py
  src/imitation/scripts/analyze.py
  src/imitation/scripts/convert_trajs.py
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/ingredients/logging.py
  src/imitation/scripts/train_preference_comparisons.py
  src/imitation/scripts/train_rl.py
  src/imitation/testing/expert_trajectories.py
  src/imitation/util/logger.py
  src/imitation/util/sacred.py
  src/imitation/util/util.py
  tests/algorithms/test_dagger.py
  tests/data/test_types.py
  tests/policies/test_policies.py
  tests/scripts/test_scripts.py
  tests/testdata/npz_format_rollout.npz
  tests/testdata/old_format_rollout.pkl
  tests/testdata/pickle_format_rollout.pkl
Due: mypy, pytype, docs

Add pref collect gatherer tests
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Add PrefCollectGatherer tests
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Update testdata cartpole expert to newest sb3 version.
  tests/testdata/expert_models/cartpole_0/policies/final/model.zip
Due: none

Properly remove directory-based demonstrations.
  src/imitation/testing/expert_trajectories.py
Due: mypy, pytype, docs

Invalidate vindows dependencies cache.
  .circleci/config.yml
Due: none

Add todos
  src/imitation/algorithms/preference_comparisons.py
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Pin version of setuptools and wheel
  ci/build_and_activate_venv.ps1
Due: none

Pin setuptools for readthedocs
  readthedocs.yml
Due: none

Pin setuptools for readthedocs for real
  docs/requirements.txt
  readthedocs.yml
Due: none

Add todos
  ci/build_and_activate_venv.ps1
  readthedocs.yml
Due: none

Fix lint error
  src/imitation/testing/expert_trajectories.py
Due: mypy, pytype, docs

Fix Windows Error on deletion
  src/imitation/testing/expert_trajectories.py
Due: mypy, pytype, docs

Install the CPU-only version of pytorch to save cache memory.
  ci/build_and_activate_venv.sh
Due: none

Fixing pipeline on master (#706)
  .circleci/config.yml
  ci/build_and_activate_venv.ps1
  ci/build_and_activate_venv.sh
  docs/requirements.txt
  readthedocs.yml
  src/imitation/testing/expert_trajectories.py
  tests/testdata/expert_models/cartpole_0/policies/final/model.zip
Due: mypy, pytype, docs

Add short tutorial about trajectories
  docs/index.rst
  docs/tutorials/trajectories.rst
Due: docs

Update tutorial to have longer horizon
  docs/tutorials/6_train_mce.ipynb
Due: check-notebooks

fix types
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

pytype
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

fix test
  src/imitation/data/rollout.py
  tests/data/test_rollout.py
Due: mypy, pytype, docs

dead comment
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

comments
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

comments and lint
  src/imitation/policies/exploration_wrapper.py
  tests/algorithms/test_mce_irl.py
  tests/policies/test_exploration_wrapper.py
Due: mypy, pytype, docs

fix test
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Try adding state and mask to policies
  mypy.ini
  src/imitation/data/rollout.py
  src/imitation/policies/exploration_wrapper.py
  tests/policies/test_exploration_wrapper.py
Due: mypy, pytype, docs

add test for throwing
  src/imitation/policies/exploration_wrapper.py
  tests/policies/test_exploration_wrapper.py
Due: mypy, pytype, docs

Throw for exploration wrapper for stateful policies
  src/imitation/policies/exploration_wrapper.py
Due: mypy, pytype, docs

add test
  tests/algorithms/test_mce_irl.py
Due: mypy, pytype, docs

comment
  src/imitation/policies/exploration_wrapper.py
  tests/policies/test_exploration_wrapper.py
Due: mypy, pytype, docs

Support for stateful policies (#709)
  docs/tutorials/6_train_mce.ipynb
  mypy.ini
  src/imitation/data/rollout.py
  src/imitation/policies/exploration_wrapper.py
  tests/algorithms/test_mce_irl.py
  tests/data/test_rollout.py
  tests/policies/test_exploration_wrapper.py
Due: check-notebooks, mypy, pytype, docs

Document running the entire benchmarking suite and testing if the results differ from the paper.
  benchmarking/README.md
Due: none

adding tests
  benchmarking/README.md
  src/imitation/scripts/compare_to_baseline.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

expand expression
  src/imitation/scripts/compare_to_baseline.py
Due: mypy, pytype, docs

minor edits
  benchmarking/README.md
  src/imitation/scripts/compare_to_baseline.py
Due: mypy, pytype, docs

Add test
  benchmarking/README.md
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

handle command names
  src/imitation/scripts/analyze.py
  src/imitation/scripts/compare_to_baseline.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Update benchmarking/README.md
  benchmarking/README.md
Due: none

Fix margin of error formula
  benchmarking/README.md
Due: none

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
