Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Linting
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude_types: [jupyter]
  - id: check-toml
  - id: check-added-large-files
  - id: check-ast
- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
  - id: black-jupyter
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
# Python static analysis
- repo: https://github.com/pycqa/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-blind-except
      - flake8-builtins
      - flake8-commas
      - flake8-debugger
      - flake8-docstrings
- repo: https://github.com/terrencepreilly/darglint
  rev: v1.8.1
  hooks:
  - id: darglint
# Shell static analysis
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.8.0
  hooks:
  - id: shellcheck
# Misc
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    args: ["--skip=*.pyc,tests/testdata/*,*.ipynb,*.csv"]
- repo: https://github.com/syntaqx/git-hooks
  rev: v0.0.17
  hooks:
  - id: circleci-config-validate
# Hooks that run in local environment (not isolated venv) as they need
# same dependencies as our package.
- repo: local
  hooks:
  - id: check-notebooks
    name: check-notebooks
    entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
    language: script
    types: [jupyter]
    pass_filenames: false
  # Run mypy directly from local repo rather than using mirror-mypy
  # so that it uses installed dependencies. Adapted from:
  # https://jaredkhan.com/blog/mypy-pre-commit
  - id: mypy
    name: mypy
    language: system
    types: [python]
    entry: mypy --follow-imports=silent --show-error-codes
    # use require_serial so that script
    # is only called once per commit
    require_serial: true
    # Print the number of files as a sanity-check
    verbose: true
  - id: pytype
    name: pytype
    language: system
    types: [python]
    entry: pytype -j auto
    require_serial: true
    verbose: true
  - id: docs
    name: docs
    language: system
    types_or: [python, rst]
    entry: bash -c "cd docs/ && make clean && make html"
    require_serial: true
    verbose: true
    pass_filenames: false

Initial testing change
  .circleci/config.yml
Due: none

First real crack.
  .circleci/config.yml
Due: none

Remove job arg temporarily.
  .circleci/config.yml
Due: none

Update docs/getting-started/what-is-imitation.rst
  docs/getting-started/what-is-imitation.rst
Due: docs

Fix ordering of algos
  docs/getting-started/what-is-imitation.rst
Due: docs

Some more wording
  docs/getting-started/what-is-imitation.rst
Due: docs

Update from comments
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

One line it
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Fill in "What Is Imitation" section in docs (#609)
  docs/algorithms/density.rst
  docs/algorithms/mce_irl.rst
  docs/algorithms/preference_comparisons.rst
  docs/development/contributing/index.rst
  docs/development/contributing/ways-to-contribute.rst
  docs/getting-started/what-is-imitation.rst
Due: docs

Add default config for cnn policies
  src/imitation/scripts/config/train_rl.py
Due: mypy, pytype, docs

Add simple test with CnnRewardNet
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Remove config hook that adds normalizing and add cnn named config to common/train.py
  src/imitation/scripts/common/train.py
  src/imitation/scripts/config/train_rl.py
Due: mypy, pytype, docs

Fix up test and adjust comment in normalize_disable config
  src/imitation/scripts/common/train.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Remove normalize_disable named_config
  src/imitation/scripts/common/train.py
Due: mypy, pytype, docs

Remove unused import
  src/imitation/scripts/common/train.py
Due: mypy, pytype, docs

Fix broken test
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Add line about dev dependencies in getting-started/installation (#608)
  docs/getting-started/installation.rst
Due: docs

Add default config for cnn policies (#610)
  src/imitation/scripts/common/train.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Tests for reward trainers improving reward loss (#601)
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Fixes typo
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Add test for agent performance improving
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Increase training time to reduce flakiness
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Add reacher to ignored word list, since it is an environment
  .pre-commit-config.yaml
Due: none

Separate arg
  .pre-commit-config.yaml
Due: none

Minor mods
  .circleci/config.yml
Due: none

Fixes typo (#616)
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Add a verbose warning for a common error type
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Parallel changes
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

Combine into one test
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Fix trailing whitespace
  .circleci/config.yml
Due: none

Fix typo
  .pre-commit-config.yaml
Due: none

Add test
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Update tutorial
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Clear output
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Small
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  src/imitation/data/rollout.py
Due: check-notebooks, mypy, pytype, docs

Again clear output
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Use nb-clean
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Typo
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Update mypy version and remove ignores.
  setup.py
  src/imitation/policies/replay_buffer_wrapper.py
Due: mypy, pytype, docs

Require that a file is changed before running publish
  .github/workflows/publish-to-pypi.yml
Due: none
