Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Linting
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude_types: [jupyter]
  - id: check-toml
  - id: check-added-large-files
  - id: check-ast
- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
  - id: black-jupyter
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
# Python static analysis
- repo: https://github.com/pycqa/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-blind-except
      - flake8-builtins
      - flake8-commas
      - flake8-debugger
      - flake8-docstrings
- repo: https://github.com/terrencepreilly/darglint
  rev: v1.8.1
  hooks:
  - id: darglint
# Shell static analysis
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.8.0
  hooks:
  - id: shellcheck
# Misc
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    args: ["--skip=*.pyc,tests/testdata/*,*.ipynb,*.csv"]
- repo: https://github.com/syntaqx/git-hooks
  rev: v0.0.17
  hooks:
  - id: circleci-config-validate
# Hooks that run in local environment (not isolated venv) as they need
# same dependencies as our package.
- repo: local
  hooks:
  - id: check-notebooks
    name: check-notebooks
    entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
    language: script
    types: [jupyter]
    pass_filenames: false
  # Run mypy directly from local repo rather than using mirror-mypy
  # so that it uses installed dependencies. Adapted from:
  # https://jaredkhan.com/blog/mypy-pre-commit
  - id: mypy
    name: mypy
    language: system
    types: [python]
    entry: mypy --follow-imports=silent --show-error-codes
    # use require_serial so that script
    # is only called once per commit
    require_serial: true
    # Print the number of files as a sanity-check
    verbose: true
  - id: pytype
    name: pytype
    language: system
    types: [python]
    entry: pytype -j auto
    require_serial: true
    verbose: true
  - id: docs
    name: docs
    language: system
    types_or: [python, rst]
    entry: bash -c "cd docs/ && make clean && make html"
    require_serial: true
    verbose: true
    pass_filenames: false

Enable LaTeX macros in markdown cells of jupyter notebooks.
  docs/conf.py
Due: mypy, pytype, docs

Fix heading of "Generating rollouts" in the preference comparisons tutorial.
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Convert all the "Notes" sections in the algorithm documentation to note:: macros of the rst language.
  docs/algorithms/airl.rst
  docs/algorithms/dagger.rst
  docs/algorithms/gail.rst
  docs/algorithms/preference_comparisons.rst
Due: docs

Remove emtpy doctests from the module autodoc template.
  docs/_templates/autosummary/module.rst
Due: docs

Increase test timeouts to reduce flakiness.
  tests/data/test_huggingface_utils.py
Due: mypy, pytype, docs

Small Documentation Formatting Issues (#728)
  docs/_templates/autosummary/module.rst
  docs/algorithms/airl.rst
  docs/algorithms/dagger.rst
  docs/algorithms/gail.rst
  docs/algorithms/preference_comparisons.rst
  docs/conf.py
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  tests/data/test_huggingface_utils.py
Due: check-notebooks, mypy, pytype, docs

Remove load_rolluts_from_huggingface and replace it with code in demonstrations.py that loads demonstrations from huggingface datasets instead of huggingface models.
  src/imitation/data/serialize.py
  src/imitation/scripts/ingredients/demonstrations.py
Due: mypy, pytype, docs

Fix some mypy errors
  src/imitation/algorithms/preference_comparisons.py
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Fix mypy
  setup.py
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Fix mypy error
  setup.py
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Fix mypy
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/scripts/train_preference_comparisons.py
Due: mypy, pytype, docs

Fix bug in instructions on how to pull trajectories from the HuggingFace Datasets Hub (#724)
  docs/tutorials/trajectories.rst
Due: docs

Allow specifying the repo_id directly in the loader_kwargs of the demonstrations ingredient and pass remaining loader_kwargs to datasets.load_dataset.
  src/imitation/scripts/ingredients/demonstrations.py
Due: mypy, pytype, docs

Simplify demonstrations ingredient configuration and make it more flexible at the same time.
  benchmarking/example_airl_seals_ant_best_hp_eval.json
  benchmarking/example_airl_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_airl_seals_hopper_best_hp_eval.json
  benchmarking/example_airl_seals_swimmer_best_hp_eval.json
  benchmarking/example_airl_seals_walker_best_hp_eval.json
  benchmarking/example_bc_seals_ant_best_hp_eval.json
  benchmarking/example_bc_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_bc_seals_hopper_best_hp_eval.json
  benchmarking/example_bc_seals_swimmer_best_hp_eval.json
  benchmarking/example_bc_seals_walker_best_hp_eval.json
  benchmarking/example_dagger_seals_ant_best_hp_eval.json
  benchmarking/example_dagger_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_dagger_seals_hopper_best_hp_eval.json
  benchmarking/example_dagger_seals_swimmer_best_hp_eval.json
  benchmarking/example_dagger_seals_walker_best_hp_eval.json
  benchmarking/example_gail_seals_ant_best_hp_eval.json
  benchmarking/example_gail_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_gail_seals_hopper_best_hp_eval.json
  benchmarking/example_gail_seals_swimmer_best_hp_eval.json
  benchmarking/example_gail_seals_walker_best_hp_eval.json
  src/imitation/scripts/ingredients/demonstrations.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Remove now obsolete test.
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Rename rollout_type to type and rollout_path to path and make default type "generated" to match previous behavior.
  README.md
  benchmarking/example_airl_seals_ant_best_hp_eval.json
  benchmarking/example_airl_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_airl_seals_hopper_best_hp_eval.json
  benchmarking/example_airl_seals_swimmer_best_hp_eval.json
  benchmarking/example_airl_seals_walker_best_hp_eval.json
  benchmarking/example_bc_seals_ant_best_hp_eval.json
  benchmarking/example_bc_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_bc_seals_hopper_best_hp_eval.json
  benchmarking/example_bc_seals_swimmer_best_hp_eval.json
  benchmarking/example_bc_seals_walker_best_hp_eval.json
  benchmarking/example_dagger_seals_ant_best_hp_eval.json
  benchmarking/example_dagger_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_dagger_seals_hopper_best_hp_eval.json
  benchmarking/example_dagger_seals_swimmer_best_hp_eval.json
  benchmarking/example_dagger_seals_walker_best_hp_eval.json
  benchmarking/example_gail_seals_ant_best_hp_eval.json
  benchmarking/example_gail_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_gail_seals_hopper_best_hp_eval.json
  benchmarking/example_gail_seals_swimmer_best_hp_eval.json
  benchmarking/example_gail_seals_walker_best_hp_eval.json
  benchmarking/util.py
  examples/quickstart.sh
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/ingredients/policy_evaluation.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Updates based on review
  src/imitation/scripts/analyze.py
  src/imitation/scripts/parallel.py
  src/imitation/scripts/train_adversarial.py
  src/imitation/scripts/train_imitation.py
  src/imitation/scripts/train_preference_comparisons.py
  src/imitation/scripts/train_rl.py
Due: mypy, pytype, docs

Change metric everywhere
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Fix documentation of the Raises: section of get_exper_trajectories() and improve wording of ValueError when n_expert_demos is missing while generating trajectories.
  src/imitation/scripts/ingredients/demonstrations.py
Due: mypy, pytype, docs

Simplify unnecessarily complex regexes to match raised exceptions during testing.
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Fix regex for ValueError to reflect updated ValueError string.
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Add an edge case to accommodate the fact that the HuggingFace Hub only has an expert for seals/Cartpole while the testdata folder only has an expert for normal Cartpole.
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Make it explicit that in some tests the rollout should be loaded locally from disk.
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Fix formatting issues in test_scripts.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Rename demonstrations.type to demonstrations.source to overcome name-clash with build-in keyword of python.
  benchmarking/example_airl_seals_ant_best_hp_eval.json
  benchmarking/example_airl_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_airl_seals_hopper_best_hp_eval.json
  benchmarking/example_airl_seals_swimmer_best_hp_eval.json
  benchmarking/example_airl_seals_walker_best_hp_eval.json
  benchmarking/example_bc_seals_ant_best_hp_eval.json
  benchmarking/example_bc_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_bc_seals_hopper_best_hp_eval.json
  benchmarking/example_bc_seals_swimmer_best_hp_eval.json
  benchmarking/example_bc_seals_walker_best_hp_eval.json
  benchmarking/example_dagger_seals_ant_best_hp_eval.json
  benchmarking/example_dagger_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_dagger_seals_hopper_best_hp_eval.json
  benchmarking/example_dagger_seals_swimmer_best_hp_eval.json
  benchmarking/example_dagger_seals_walker_best_hp_eval.json
  benchmarking/example_gail_seals_ant_best_hp_eval.json
  benchmarking/example_gail_seals_half_cheetah_best_hp_eval.json
  benchmarking/example_gail_seals_hopper_best_hp_eval.json
  benchmarking/example_gail_seals_swimmer_best_hp_eval.json
  benchmarking/example_gail_seals_walker_best_hp_eval.json
  src/imitation/scripts/ingredients/demonstrations.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Make sure to load local demonstrations in quickstart.sh
  examples/quickstart.sh
Due: none

Fix formatting issue.
  src/imitation/scripts/ingredients/demonstrations.py
Due: mypy, pytype, docs

Ensure the readme contains the same snippet as the examples.
  README.md
Due: none

Add short intro about density-based reward modeling.
  docs/algorithms/density.rst
Due: docs

Add a paragraph with pros and cons of densitiy based reward estimation.
  docs/algorithms/density.rst
Due: docs

Fix mypy, flake8, codespell
  setup.py
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/train_preference_comparisons.py
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Adds preference_querent to args-is-none-check
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Clarify density documentation.
  docs/algorithms/density.rst
Due: docs

Import gymnasium as gym everywhere and remove gym-specific fixes in the pipeline.
  ci/build_and_activate_venv.ps1
  ci/build_and_activate_venv.sh
  docs/algorithms/airl.rst
  docs/algorithms/bc.rst
  docs/algorithms/dagger.rst
  docs/algorithms/gail.rst
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/7_train_density.ipynb
  examples/quickstart.py
  setup.py
  src/imitation/algorithms/bc.py
  src/imitation/algorithms/mce_irl.py
  src/imitation/data/wrappers.py
  src/imitation/policies/base.py
  src/imitation/rewards/reward_nets.py
  src/imitation/scripts/eval_policy.py
  src/imitation/testing/hypothesis_strategies.py
  src/imitation/testing/reward_nets.py
  src/imitation/util/registry.py
  src/imitation/util/util.py
  src/imitation/util/video_wrapper.py
  tests/algorithms/test_dagger.py
  tests/algorithms/test_mce_irl.py
  tests/algorithms/test_preference_comparisons.py
  tests/data/test_rollout.py
  tests/data/test_types.py
  tests/data/test_wrappers.py
  tests/policies/test_policies.py
  tests/rewards/test_reward_nets.py
Due: check-notebooks, mypy, pytype, docs

Update dependencies
  setup.py
Due: mypy, pytype, docs

Adds querent to pref comparisons in tutorial 5
  docs/tutorials/5_train_preference_comparisons.ipynb
Due: check-notebooks

Adds querent to pref comparisons in tutorial 5a
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
Due: check-notebooks

Adds querent to pref comparisons in tutorial 5b and docs
  docs/algorithms/preference_comparisons.rst
  docs/tutorials/5b_train_preference_comparisons_with_synchronous_human_feedback.ipynb
Due: check-notebooks, docs

Fix notebooks and docs
  docs/algorithms/preference_comparisons.rst
  docs/tutorials/5_train_preference_comparisons.ipynb
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  docs/tutorials/5b_train_preference_comparisons_with_synchronous_human_feedback.ipynb
Due: check-notebooks, docs

Fix bug
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs
