Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: pytype -j auto
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && make html"
  require_serial: true
  verbose: true
  pass_filenames: false

Removes active check
  src/imitation/data/wrappers.py
Due: mypy, pytype, docs

Adds missing hyphen
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Custom environment tutorial draft
  docs/tutorials/8_train_custom_env.ipynb
Due: check-notebooks

Documentation for density-based reward modeling (#730)
  docs/algorithms/density.rst
Due: docs

Pin SB3 version to 1.7.0
  setup.py
Due: mypy, pytype, docs

Update the docs website
  docs/index.rst
Due: docs

Add a new tutorial
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

Clean notebook
  docs/tutorials/8_train_custom_env.ipynb
Due: check-notebooks

Update index.rst
  docs/index.rst
Due: docs

Pin SB3 version to 1.7.0 (#738)
  setup.py
Due: mypy, pytype, docs

Text clarification and new environment
  docs/tutorials/8_train_custom_env.ipynb
Due: check-notebooks

Update conftest.py
  tests/conftest.py
Due: mypy, pytype, docs

Improvements to the tutorial
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

Some more caution words
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

Decrease training duration to hopefully make CI happy
  docs/tutorials/8_train_custom_env.ipynb
Due: check-notebooks

First draft of CLI documentation (WIP)
  docs/getting-started/cli.rst
  docs/index.rst
Due: docs

Initial version of the SQIL implementation
  src/imitation/algorithms/sqil.py
  src/imitation/data/rollout.py
Due: mypy, pytype, docs

Pin SB3 version to 1.7.0 (#738) (#745)
  setup.py
Due: mypy, pytype, docs

Another redundant type warning
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Update conftest.py (#742)
  tests/conftest.py
Due: mypy, pytype, docs

Clarify that BC itself does not learn rewards
  docs/tutorials/8_train_custom_env.ipynb
Due: check-notebooks

Fix typos
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

Custom environment tutorial (#746)
  docs/index.rst
  docs/tutorials/8_train_custom_env.ipynb
Due: check-notebooks, docs

Add more examples for the CLI, improve some wording, add a overview table for the algorithm scripts.
  docs/getting-started/cli.rst
Due: docs

Add documentation of the script output format.
  docs/getting-started/cli.rst
Due: docs

Remove comment from command line example.
  docs/getting-started/cli.rst
Due: docs

Correctly set the expert rewards to 1
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Tutorial on comparing algorithm performance (#747)
  docs/index.rst
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks, docs

Update typing, add some tests
  src/imitation/algorithms/sqil.py
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Update sqil.py
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Style fixes
  src/imitation/algorithms/sqil.py
Due: mypy, pytype, docs

Test updates
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Add table for the utility scripts.
  docs/getting-started/cli.rst
Due: docs

Add a test to check the buffer
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Formatting, docstring
  src/imitation/algorithms/sqil.py
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Improve test coverage
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Update branch to master (#749)
  docs/index.rst
  docs/tutorials/8_train_custom_env.ipynb
  docs/tutorials/9_compare_baselines.ipynb
  tests/conftest.py
Due: check-notebooks, mypy, pytype, docs

Some documentation updates (not complete)
  README.md
  docs/algorithms/sqil.rst
Due: docs

Add a SQIL tutorial
  docs/tutorials/10_train_sqil.ipynb
Due: check-notebooks

Reduce tutorial runtime
  docs/tutorials/10_train_sqil.ipynb
Due: check-notebooks

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
