Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: pytype -j auto
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && make html"
  require_serial: true
  verbose: true
  pass_filenames: false

Make the DAgger CLI use the hydra run folder to place a scratch dir by default.
  src/imitation_cli/algorithm_configurations/dagger.py
  src/imitation_cli/config/dagger_run.yaml
Due: mypy, pytype, docs

Set up smoke tests for the algorithm CLIs
  src/imitation_cli/config/__init__.py
  src/imitation_cli/dagger.py
  tests/cli/__init__.py
  tests/cli/test_airl_cli.py
  tests/cli/test_bc_cli.py
  tests/cli/test_dagger_cli.py
Due: mypy, pytype, docs

fixed typo in getting started cli docs
  docs/getting-started/cli.rst
Due: docs

Updated Installation Instructions (#760)
  docs/getting-started/installation.rst
  docs/main-concepts/experts.rst
Due: docs

revert furo for compability with sphinx=5.1.1
  setup.py
Due: mypy, pytype, docs

gymnasium compatible reset, step and seed
  src/imitation/algorithms/density.py
  src/imitation/data/wrappers.py
  src/imitation/policies/replay_buffer_wrapper.py
  src/imitation/util/util.py
  src/imitation/util/video_wrapper.py
  tests/algorithms/test_mce_irl.py
  tests/algorithms/test_preference_comparisons.py
  tests/data/test_rollout.py
  tests/data/test_wrappers.py
  tests/policies/test_policies.py
Due: mypy, pytype, docs

Download expert policies from HF hub instead of training in docs/tutorials
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

Download expert policies from HF hub instead of training in docs/algorithms
  docs/algorithms/airl.rst
  docs/algorithms/bc.rst
  docs/algorithms/dagger.rst
  docs/algorithms/gail.rst
Due: docs

Download expert policies from HF hub by default in quickstart.py
  examples/quickstart.py
Due: mypy, pytype, docs

Fix broken import in 3_train_gail.ipynb
  docs/tutorials/3_train_gail.ipynb
Due: check-notebooks

Fix broken call to load_policy in experts.rst docs
  docs/main-concepts/experts.rst
Due: docs

Updates from review
  benchmarking/README.md
  src/imitation/scripts/analyze.py
  src/imitation/scripts/config/train_adversarial.py
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/config/train_rl.py
  src/imitation/scripts/parallel.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Fix test
  src/imitation/algorithms/adversarial/common.py
Due: mypy, pytype, docs

Revert "Fix test"
  src/imitation/algorithms/adversarial/common.py
Due: mypy, pytype, docs

Fix test
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Consistently use VecEnv environments in tutorial notebooks
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

Use VecEnv environments in quickstart.py
  examples/quickstart.py
Due: mypy, pytype, docs

Suppress unused import warning for "seals" package in notebooks
  docs/tutorials/1_train_bc.ipynb
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

Consistently use VecEnv environments in docs/algorithms
  docs/algorithms/airl.rst
  docs/algorithms/bc.rst
  docs/algorithms/dagger.rst
  docs/algorithms/gail.rst
Due: docs

Update docs/getting-started/cli.rst
  docs/getting-started/cli.rst
Due: docs

Fix missing imports in some algorithm docs
  docs/algorithms/airl.rst
  docs/algorithms/bc.rst
  docs/algorithms/dagger.rst
Due: docs

Fix too short title underline in cli.rst
  docs/getting-started/cli.rst
Due: docs

Consistent title style in cli.rst
  docs/getting-started/cli.rst
Due: docs

Convert Dict to Mapping in input argument
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Add first version of InteractivePolicy
  src/imitation/policies/interactive.py
  tests/policies/test_interactive.py
Due: mypy, pytype, docs

Adapt hyperparameters in GAIL and AIRL notebooks and seed everywhere
  docs/tutorials/2_train_dagger.ipynb
  docs/tutorials/3_train_gail.ipynb
  docs/tutorials/4_train_airl.ipynb
Due: check-notebooks

Fix imports in 3_train_gail.ipynb
  docs/tutorials/3_train_gail.ipynb
Due: check-notebooks

Revert 9_compare_baselines.ipynb to (almost) the version on master
  docs/tutorials/9_compare_baselines.ipynb
Due: check-notebooks

Increase expert training steps in quickstart.py
  examples/quickstart.py
Due: mypy, pytype, docs

Adapt hyperparameters in GAIL and AIRL documentation and seed everywhere
  docs/algorithms/airl.rst
  docs/algorithms/dagger.rst
  docs/algorithms/gail.rst
Due: docs

Adapt hyperparameters in test_sqil_performance to reduce flakiness
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Fix seeds for flaky test_sqil_performance
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Increase coverage in test_sqil.py
  tests/algorithms/test_sqil.py
Due: mypy, pytype, docs

Register the interactive policy
  src/imitation/policies/interactive.py
  src/imitation/policies/serialize.py
Due: mypy, pytype, docs

Add example script for training DAgger with InteractivePolicy
  examples/train_dagger_with_human_demos.py
  src/imitation/policies/interactive.py
  src/imitation/policies/serialize.py
Due: mypy, pytype, docs

Update adversarial algorithm
  src/imitation/algorithms/adversarial/common.py
  src/imitation/policies/replay_buffer_wrapper.py
Due: mypy, pytype, docs

Fix test errors
  src/imitation/algorithms/adversarial/common.py
  tests/algorithms/test_adversarial.py
Due: mypy, pytype, docs

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
