Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Linting
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude_types: [jupyter]
  - id: check-toml
  - id: check-added-large-files
  - id: check-ast
- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
  - id: black-jupyter
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
# Python static analysis
- repo: https://github.com/pycqa/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-blind-except
      - flake8-builtins
      - flake8-commas
      - flake8-debugger
      - flake8-docstrings
- repo: https://github.com/terrencepreilly/darglint
  rev: v1.8.1
  hooks:
  - id: darglint
# Shell static analysis
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.8.0
  hooks:
  - id: shellcheck
# Misc
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    args: ["--skip=*.pyc,tests/testdata/*,*.ipynb,*.csv"]
- repo: https://github.com/syntaqx/git-hooks
  rev: v0.0.17
  hooks:
  - id: circleci-config-validate
# Hooks that run in local environment (not isolated venv) as they need
# same dependencies as our package.
- repo: local
  hooks:
  - id: check-notebooks
    name: check-notebooks
    entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
    language: script
    types: [jupyter]
    pass_filenames: false
  # Run mypy directly from local repo rather than using mirror-mypy
  # so that it uses installed dependencies. Adapted from:
  # https://jaredkhan.com/blog/mypy-pre-commit
  - id: mypy
    name: mypy
    language: system
    types: [python]
    entry: mypy --follow-imports=silent --show-error-codes
    # use require_serial so that script
    # is only called once per commit
    require_serial: true
    # Print the number of files as a sanity-check
    verbose: true
  - id: pytype
    name: pytype
    language: system
    types: [python]
    entry: pytype -j auto
    require_serial: true
    verbose: true
  - id: docs
    name: docs
    language: system
    types_or: [python, rst]
    entry: bash -c "cd docs/ && make clean && make html"
    require_serial: true
    verbose: true
    pass_filenames: false

Add branch line too
  .github/workflows/publish-to-pypi.yml
Due: none

Remove modification to experiment adding observer for running experiments in parallel
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Cleanup imports in common ingredient.
  src/imitation/scripts/ingredients/common.py
Due: mypy, pytype, docs

Fix rst formatting of the environment_names ingredient docstring.
  src/imitation/scripts/ingredients/environment_name.py
Due: mypy, pytype, docs

Replace references to imitation.scripts.common with imitation.scripts.common and add new ingredients.
  ci/code_checks.sh
  docs/development/developer.rst
Due: docs

Require files to be changed before running publish to PyPi (#623)
  .github/workflows/publish-to-pypi.yml
Due: none

Actually check RuntimeWarning message
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Refactor to regex match warning message
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Add test for reward trainers improving agent (#617)
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Actually check RuntimeWarning message (#615)
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Update mypy version and remove ignores. (#622)
  setup.py
  src/imitation/policies/replay_buffer_wrapper.py
Due: mypy, pytype, docs

Add test for other obs shape mismatch
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Rename common ingredient to logging ingredient.
  .pre-commit-config.yaml
  README.md
  docs/development/developer.rst
  examples/quickstart.sh
  experiments/bc_benchmark.sh
  experiments/dagger_benchmark.sh
  experiments/imit_benchmark.sh
  experiments/rollouts_from_policies.sh
  experiments/transfer_learn_benchmark.sh
  src/imitation/scripts/config/eval_policy.py
  src/imitation/scripts/config/train_adversarial.py
  src/imitation/scripts/config/train_imitation.py
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/config/train_rl.py
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/ingredients/__init__.py
  src/imitation/scripts/ingredients/demonstrations.py
  src/imitation/scripts/ingredients/environment.py
  src/imitation/scripts/ingredients/logging.py
  src/imitation/scripts/ingredients/rl.py
  src/imitation/scripts/ingredients/train.py
  src/imitation/scripts/ingredients/wb.py
  src/imitation/scripts/train_adversarial.py
  src/imitation/scripts/train_imitation.py
  src/imitation/scripts/train_preference_comparisons.py
  src/imitation/scripts/train_rl.py
  tests/scripts/test_scripts.py
Due: mypy, pytype, docs

Add another test to make codecov happy
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Remove modification to experiment adding observer for running experiments in parallel (#624)
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Use a different image env in test
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Remove unneeded import
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Update parallel scripts
  src/imitation/scripts/config/parallel.py
  src/imitation/scripts/parallel.py
Due: mypy, pytype, docs

Fix typo leftover
  tests/data/test_rollout.py
Due: mypy, pytype, docs

Add a verbose warning for calling rollout.rollout on image environments (#618)
  docs/tutorials/5a_train_preference_comparisons_with_cnn.ipynb
  src/imitation/data/rollout.py
  tests/data/test_rollout.py
Due: check-notebooks, mypy, pytype, docs

Update PC normalization arg
  src/imitation/scripts/config/parallel.py
Due: mypy, pytype, docs

Address comments
  .circleci/config.yml
  .codespell.skip
  .pre-commit-config.yaml
Due: none

Remove seed and outer loop
  tests/policies/test_exploration_wrapper.py
Due: mypy, pytype, docs

Update experiments/dagger_benchmark.sh
  experiments/dagger_benchmark.sh
Due: none

Fix flakiness due to parallelism and seeding on windows
  experiments/bc_benchmark.sh
  experiments/benchmark_and_table.sh
  experiments/dagger_benchmark.sh
  experiments/imit_benchmark.sh
  experiments/rollouts_from_policies.sh
  experiments/transfer_learn_benchmark.sh
  tests/algorithms/test_preference_comparisons.py
  tests/policies/test_exploration_wrapper.py
Due: mypy, pytype, docs

Update experiments/transfer_learn_benchmark.sh
  experiments/transfer_learn_benchmark.sh
Due: none

Update experiments/rollouts_from_policies.sh
  experiments/rollouts_from_policies.sh
Due: none

Remove debugging messages
  experiments/transfer_learn_benchmark.sh
Due: none

Fix Preference Comparisons loading dataset test
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Update experiments/bc_benchmark.sh
  experiments/bc_benchmark.sh
Due: none

Refactor according to Dan's suggestions
  tests/algorithms/test_preference_comparisons.py
  tests/policies/test_exploration_wrapper.py
Due: mypy, pytype, docs

Update experiments/imit_benchmark.sh
  experiments/imit_benchmark.sh
Due: none

Simplify nested discts check to recursive call
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Address Flaky Tests (#621)
  experiments/bc_benchmark.sh
  experiments/benchmark_and_table.sh
  experiments/dagger_benchmark.sh
  experiments/imit_benchmark.sh
  experiments/rollouts_from_policies.sh
  experiments/transfer_learn_benchmark.sh
  tests/algorithms/test_preference_comparisons.py
  tests/policies/test_exploration_wrapper.py
Due: mypy, pytype, docs

change callback mechanism
  src/imitation/algorithms/adversarial/common.py
Due: mypy, pytype, docs

Bugfix with shellcheck
  .pre-commit-config.yaml
Due: none

Revert to shellcheck orb
  .circleci/config.yml
Due: none
