Repository HumanCompatibleAI/imitation: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-notebooks, mypy, pytype, docs

check-notebooks:
  name: check-notebooks
  entry: ./ci/clean_notebooks.py --check ./docs/tutorials/
  language: script
  pass_filenames: false

mypy:
  name: mypy
  language: system
  entry: mypy --follow-imports=silent --show-error-codes
  require_serial: true
  verbose: true

pytype:
  name: pytype
  language: system
  entry: bash -c 'pytype --keep-going -j ${NUM_CPUS:-auto}'
  require_serial: true
  verbose: true

docs:
  name: docs
  language: system
  entry: bash -c "cd docs/ && make clean && SKIP_DOCTEST=True NB_EXECUTION_MODE=off make html"
  require_serial: true
  verbose: true
  pass_filenames: false

Formatting fixes.
  benchmarking/compute_probability_of_improvement.py
Due: mypy, pytype, docs

Explain how to run the entire benchmarking suite and how to compare a new algorithm to the benchmark runs.
  benchmarking/README.md
Due: none

Cleaner check if some envs have been ignored.
  benchmarking/compute_probability_of_improvement.py
Due: mypy, pytype, docs

Whitespace and formatting fixes
  benchmarking/README.md
  benchmarking/run_all_benchmarks.sh
  benchmarking/run_all_benchmarks_on_slurm.sh
  src/imitation/data/huggingface_utils.py
Due: mypy, pytype, docs

Switch from coco's deprecated --side-by-side option to --allow-downgrade.
  .circleci/config.yml
Due: none

Split up the python and openssl/ffmpeg installation to ensure that the step properly fails when the installation of one of the packages fails.
  .circleci/config.yml
Due: none

Fix typo.
  benchmarking/README.md
Due: none

Add tests for sacred file parsing.
  tests/util/test_sacred_file_parsing.py
Due: mypy, pytype, docs

Rename make_sample_matrix_... to make_score_matrix_...
  benchmarking/compute_probability_of_improvement.py
Due: mypy, pytype, docs

Add link to the rliable library to the benchmarking README.
  benchmarking/README.md
Due: none

Add no-cover pragma for warnings about incomplete runs.
  src/imitation/util/sacred_file_parsing.py
Due: mypy, pytype, docs

Simplify the conditional printing of run directories when the compared algorithms have the same name and explain why.
  benchmarking/compute_probability_of_improvement.py
Due: mypy, pytype, docs

Running benchmarks (#812)
  .circleci/config.yml
  benchmarking/README.md
  benchmarking/compute_probability_of_improvement.py
  benchmarking/run_all_benchmarks.sh
  benchmarking/run_all_benchmarks_on_slurm.sh
  benchmarking/run_benchmark_on_slurm.sh
  benchmarking/sacred_output_to_csv.py
  benchmarking/sacred_output_to_markdown_summary.py
  src/imitation/data/huggingface_utils.py
  src/imitation/util/sacred_file_parsing.py
  tests/util/test_sacred_file_parsing.py
Due: mypy, pytype, docs

Fixes gym import bug
  src/imitation/scripts/ingredients/environment.py
Due: mypy, pytype, docs

Fixes bug
  src/imitation/algorithms/preference_comparisons.py
Due: mypy, pytype, docs

Fix tests
  tests/algorithms/test_preference_comparisons.py
Due: mypy, pytype, docs

Remove MuJoCo 1.5 from the prerequisites because we switched to 2.0+ long ago.
  README.md
Due: none

Add a link to benchmark results to the benchmark README.md
  benchmarking/README.md
Due: none

Fix tests
  src/imitation/scripts/eval_policy.py
  src/imitation/scripts/train_preference_comparisons.py
Due: mypy, pytype, docs

Adapt render image infor wrapper to gymnasium
  src/imitation/data/wrappers.py
  tests/data/test_wrappers.py
Due: mypy, pytype, docs

Add querent kwargs and change config accordingly
  src/imitation/algorithms/preference_comparisons.py
  src/imitation/scripts/config/train_preference_comparisons.py
  src/imitation/scripts/train_preference_comparisons.py
Due: mypy, pytype, docs

Fix default video dir
  src/imitation/scripts/config/train_preference_comparisons.py
Due: mypy, pytype, docs

Update the README files (#817)
  README.md
  benchmarking/README.md
Due: none

Embedd the benchmarking README in the Sphinx documentation.
  benchmarking/README.md
  docs/index.rst
  docs/main-concepts/benchmarks.md
Due: docs

Add the benchmark summary from the release to the Sphinx documentation.
  docs/conf.py
  docs/index.rst
Due: mypy, pytype, docs

Add link to benchmark results to README.md
  README.md
Due: none

Fix formatting issues in docs/conf.py and improve inline comment.
  docs/conf.py
Due: mypy, pytype, docs

Fix typing issue due to new SB3 version.
  src/imitation/algorithms/mce_irl.py
Due: mypy, pytype, docs

Black fixes.
  docs/conf.py
Due: mypy, pytype, docs

Improve formatting in benchmarking README.md
  benchmarking/README.md
Due: none

Add more benchmarking documentation (#822)
  README.md
  benchmarking/README.md
  docs/conf.py
  docs/index.rst
  docs/main-concepts/benchmarks.md
  src/imitation/algorithms/mce_irl.py
Due: mypy, pytype, docs

Clarify in README.md that we switched to gymnasium.
  README.md
Due: none

Fix warning in quickstart.py caused by not properly setting the render mode in the evaluation environment.
  examples/quickstart.py
Due: mypy, pytype, docs

Add workaround for pygame under MacOS
  .circleci/config.yml
Due: none

Clarify in README.md that we switched to gymnasium. (#824)
  README.md
Due: none

Switch to lualatex to generate the documentation PDF
  docs/conf.py
Due: mypy, pytype, docs

Switch to lualatex to generate the documentation PDF (#826)
  docs/conf.py
Due: mypy, pytype, docs

Add missing hypothesis requirement to doc requirements.
  setup.py
Due: mypy, pytype, docs

Split GAIL tutorial into more cells to evade cell timout issues.
  docs/tutorials/3_train_gail.ipynb
Due: check-notebooks

Path conditions:
  check-notebooks: any of: \.ipynb$
  mypy: any of: \.py$
  pytype: any of: \.py$
  docs: any of: \.py$, \.rst$
